.noDisplay{
	display: none;
}
#tablaAlineacion{
}/*773px*/
#top{
	width: 50%;
	height: 93px;
	background: url(../img/ciem.jpg) no-repeat;
}
/*468*/
#navi{
	width: 760;
	text-align: center;
	height:35px;
}
#navi a{
	text-decoration: none;
	font-size: 12px;
	color:#CCC;
	font-family:Tahoma, Geneva, sans-serif;
	text-transform:uppercase;
	text-align:center;
}

#linkHome,#linkAbout,#linkRegister{

}
#clear{
	clear:both;
}
#content{
	background-color: #eee;
	width: 960px;
}	
#footer{
	font-size: 0.6em;
	clear: both;
}
.alimentoItem{
	text-align: left;
}

#calculadoraDiv{
	float: left;
	background-color: #E29D9D;
	width: 130px;
	margin-left: 400px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
#calculadoraDiv:hover{
	background-color: #42C929;
}

.calculadoraA{
	text-decoration: none;
}
#selCombo{
	width: 150px;
	float: left;
}
#calorias{
	float:left;
	margin-left: 20px;
}
#fondo1{
	width: 600px;
	height: 500px;
}
#addAlimento{
	float: left;
	text-decoration: none;
	width: 36px;
	margin-left: 20px;
}

#tablaCalc{
	float: left;
	width: 340px;
	background-color: white;
	margin-top: 40px;
	clear: both;
	outline: thin solid black;
}

.caloriasT{
	float: right;
	width: 120px;
	height: 20px;
	border-left: thin solid black;
}
.alimentosT{
	height: 20px;
	width: 340px;
	border-bottom: thin solid black;
}
#caloriaT{
	float: right;
	width: 120px;
	height: 20px;
	outline: thin solid black;
}
#alimentoT{

	height: 20px;
	width: 340px;
	outline: thin solid black;
}

.helptext{
	display: none;
}

.menu{
	text-decoration:none;
	list-style-type:none;
	display:block;
	position:relative;
	float:left;
	text-align:center;
	width:auto;

	}
.menu li{
	width:120px;
	display:block;
	float:left;
	background-color:#006600;
	background-image:url(/ciem/static/img/menu-background.png);
	padding-bottom:10px;
	padding-top:10px;
	}
li:hover{
	display:block;
	float:left;
	background-image:url(/ciem/static/img/menu-background-mouseover.png)}