article{
	background: #E0FFB8;
	border: 1px solid #94DA3A;
	border-width: 1px 0;
	margin: 1em 0;
	padding: .3em .4em;
	overflow: auto;
}
.errorlist{
	color: red;
}
#alinearCuerpo{
	width: 960px;
	margin: auto;
	padding: 0;
}

#alimentoT{
	display: inline;
	width: 100px;
}

#contenido{
	font-family: "arial narrow";
	width: 960px;
	margin: auto; 
	clear: both;
	color:#4B4B4B;
}
#pie{
	line-height:40px;
	text-align: center;
	color: #797979;
	font-size: 1.1em;
	width:960px;
	height: 40px;
	clear: both;
	margin: auto;
	margin-top: 15px;
	background: #EFEFEF;
	border-top: 1px solid #CDCDCD;
}
#cabecera{
	width: 960px;
	float: left;
	margin-bottom: 15px;
}

#imagenCabecera{
	float: left;
	width: 960px;
	height: 160px;
	background:url(/ciem/static/img/imaCabecera.png)
}
#barraNavegacion {
	width: 960px;
	text-align: center;
	overflow: hidden;
	float: left;
}
#barraNavegacion a{
	text-decoration: none;
	color:#4A821E;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}
#barraNavegacion a:hover{
	color:#B4991B;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}
#barraNavegacion div{
	line-height: 24px;
	padding-top:3px;
	float: left;
	height:33px;
	width:120px;
	background:url(/ciem/static/img/fondomenu.png) -0px -0px no-repeat;	
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}
#barraNavegacion div:hover {
	background-position:-0px -32px
}
.imagenHistoria{
 	background:url(/ciem/static/img/bannerhistoria.png) -0px -0px no-repeat;	
 	width:400px;
 	height: 300px;
 	float:left;
}
#botones a{
	text-decoration: none;
	color: white;
}

input#botonregistro[type="submit"]{
	position: relative;
	left: 160px;
	bottom: 10px;
	text-decoration: none;.
	border: 1px solid #006;
	background-color: #E9F6F5;
	border-color: #A9CAC6;
}
.colorCabecera{
	background-color:#FAFCD9;
	height: 33px;
}
.contenido{
	margin-top: -8px;
	font-family: Helvetica, Arial;
	font-size: 16px;
	background:#efefef;
	color:#797979;
	margin: 0 auto;
	width: 960px;
	height: 300px;
}
.boton{
	float: left;
	width: 270px;height: 30px;
	line-height: 30px;border: 1px solid #20538D;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);background: #009999;-webkit-transition-duration: 0.2s;-moz-transition-duration: 0.2s;transition-duration: 0.2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
}
.boton:hover{
	background: #81F7F3;
	color:black;
}

.botonsito{
	width: 30px;height: 30px;
	line-height: 30px;border: 1px solid #20538D;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);background: #009999;-webkit-transition-duration: 0.2s;-moz-transition-duration: 0.2s;transition-duration: 0.2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
}

.botonsito:hover{
	background: #81F7F3;
	color:black;
}


.boton2{
	float: left;
	background: #8A0808;
	width: 270px;height: 30px;
	line-height: 30px;border: 1px solid #20538D;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);-webkit-transition-duration: 0.2s;-moz-transition-duration: 0.2s;transition-duration: 0.2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
}
.boton2:hover{
	background: #FF0000;
	color:black;
}

/* Css de calculadora */
	
.alimentoItem{
	text-align: left;
}

#calculadoraDiv{
	float: left;
	background-color: #E29D9D;
	width: 130px;
	margin-left: 400px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
#calculadoraDiv:hover{
	background-color: #42C929;
}

.calculadoraA{
	text-decoration: none;
}
#selCombo{
	width: 150px;
	float: left;
}
#calorias{
	float:left;
	margin-left: 20px;
}
#fondo1{
	width: 600px;
	height: 500px;
}
#addAlimento{
	float: left;
	text-decoration: none;
	width: 36px;
	margin-left: 20px;
}

#tablaCalc{
	float: left;
	width: 340px;
	background-color: white;
	margin-top: 40px;
	clear: both;
	outline: thin solid black;
}

.caloriasT{
	float: right;
	width: 120px;
	height: 20px;
	border-left: thin solid black;
}
.alimentosT{
	height: 20px;
	width: 340px;
	border-bottom: thin solid black;
}
#caloriaT{
	float: right;
	width: 120px;
	height: 20px;
	outline: thin solid black;
}
#alimentoT{
	height: 20px;
	width: 340px;
	outline: thin solid black;
}

.helptext{
	display: none;
}