body{
	margin: 0px;
	font-family: Helvetica, Arial;
	font-size: 16px;
}
form{
	text-align: left;
}
footer{
	clear: both; 
	text-align: center;
	background: rgba(105, 200, 90, 1);
	color: black;
	border-top:1px solid #ccc;
	width:960px;
	height: 80px;
}
header{
	display: block;
	width: 960px;
	height: 135px;
}
.colorCabecera{
	background-color: #339933;
}
#cabeceraLinea{
	width: 960px;
	height: 15px;
}
#imagenCabecera{
	float: left;
	width: 960px;
	height: 100px;
	background-color: black;
}
#alinearBarraNavegacion {
	float: left;
	width: 960px;
	height: 20px;
}
#barraNavegacion {
	text-align: center;
	overflow: hidden;
}

#barraNavegacion a{
	text-decoration: none;
	color: black;
	font-size: 1em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

#barraNavegacion a:hover{
	color:#81F7F3;
	font-size: 1em;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}
#barraNavegacion div{
	float: left;
	width: 120px;
}

#logoCiem{
	width: 117px;
	height: 110px;
	background: url(../img/ciemlogo.png) no-repeat;
	position: relative;
	top: -12px;
	left: 54px;
	z-index: 1;
}


section{
	background:#efefef;
	color:#999;
	text-shadow:0px 1px 1px #fff;
	padding: 10px 10px;
	margin: 0 auto;
	width: 940px;
	height: 400px;
	text-align: center;
	position: relative;
}

.frase{
	font-size: 2em;
	font-weight: bold;

}



.boton{
	color:white;
	background: #009999;
	width: 270px;
	height: 30px;
	/*border-radius: 0.5em; */
	display:inline-block;
	text-decoration:none;
	margin:1em;
	padding:2em;
	/* box-shadow: 5px 5px 2px rgba(0,0,0,0.7); */
	border: 1px solid #20538D;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.boton1 img{
	position: relative;
	left: 20px;
}

.boton:hover{
	background: #81F7F3;
	color:black;
}

.boton2{
	color:white;
	background: #8A0808;
	width: 250px;
	height: 30px;
	/*border-radius: 0.5em; */
	display:inline-block;
	text-decoration:none;
	margin:1em;
	padding:2em;
	/* box-shadow: 5px 5px 2px rgba(0,0,0,0.7); */
	border: 1px solid #20538D;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}



.boton2 img{
	width: 32px;
	height: 32px;
	position: relative;
	left: 20px;
}


.boton2:hover{
	background: #FF0000;
	color:black;
}

#contenedor{
	max-width: 960px;
	margin: auto; 
}



#historiaNutricional{
	width: 550px;
	-webkit-transform : scale(1);
	-moz-transform : scale(1);
	-o-transform : scale(1);
	transform : scale(1);

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;

}

#histo:hover, #flecha{
	cursor:pointer;
	color:black;
	-webkit-transform : scale(1.1);
	-moz-transform : scale(1.1);
	-o-transform : scale(1.1);
	transform : scale(1.1);

	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

#subtitulo{
	font-size: 2em;
	font-weight: bold;
	padding:0px;
	margin: 0px; 
	width: 400px;
	display: inline-block;
	position: relative;
	bottom: 35px;
	z-index:1;
}

#logo{
float:left;
}


#flecha{
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 50px 0 50px 86.6px;
	border-color: transparent transparent transparent #308df0;
}