<!DOCTYPE html>
<html>
<head>
<!--[if IE 6]><script type="text/javascript" src="{{ MEDIA_URL }}js/Adquiridos/ie6-not-supported.js" ></script><![endif]-->
{% block head %} {% endblock%}
<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/iconciem.ico">
<title>{% block title %} {% endblock%}</title>
{% block js %}
{% endblock %}
<link rel="stylesheet" href=" {{ MEDIA_URL }}css/indexpage.css">
{% block css %}
{% endblock %}
</head>
<body>
	<div id="alinearCuerpo">
		<div id="cabecera">
			<div id="imagenCabecera"></div>
			<div id="barraNavegacion" class="colorCabecera">
			{% block navi %} {% endblock%}
			</div>
		</div>
		<div id="contenido">
			{% block content %} {% endblock%}
		</div>
		{% block clear %} {% endblock %}
		<div id="pie">{% block footer %} {% endblock%}</div>
	</div>
</body>
</html>