<!DOCTYPE html>
<html>
<head>{% block head %} {% endblock%}
<title>{% block title %} {% endblock%}</title>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->	
<!-- cuando se pruebe con otros navegador viejo quizas haya que activarlo <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/normalize.css"> -->
<link rel="stylesheet" href=" {{ MEDIA_URL }}css/indexpage.css">
{% block css %}
{% endblock %}
</head>
<body>
	<div id="Base">
		<header>
			<img src="{{ MEDIA_URL }}img/ciemlogo.png" alt="Logo del ciem">
			<nav>{% block navi %} {% endblock%}</nav>
		</header>	
		<div id="wrapper">
			<section>{% block content %} {% endblock%}</section>
			<aside>{% block clear %} {% endblock %}</aside>
		</div>
	</div>
	<footer class="pie">{% block footer %} {% endblock%}</footer>
</body>
</html>