{% extends "homepage/index.html" %}

{% block tittle %}
Acerca del CIEM
{% endblock %}

{% block content %}
<h2>Sobre nuestro centro de investigación</h2>
<h3>Nuestra Misión</h3>
<p>
El Centro de Investigaciones Endocrino-Metabólicas Dr. Félix Gómez de la Facultad de Medicina de la Universidad del Zulia, es una organización sin fines de lucro cuyos pilares están sustentados en las actividades Universitarias de Investigación, Extensión y Docencia. Orientada hacia la promoción y desarrollo de programas y proyectos de Investigación básica y aplicada y en consonancia con la formación integral de estudiantes y profesionales de la Facultad de Medicina, ofrecemos un servicio médico integral a los pacientes con enfermedades endocrino-metabólicas del Estado Zulia. 

Identificada con el desarrollo académico, profesional, económico y humano de nuestros empleados, fomentamos un clima de compromiso y sentido de pertenencia en nuestra institución, trabajando con responsabilidad, mística y vocación de servicio apoyados en un personal altamente capacitado en conjunción con el uso de tecnologías limpias con bajo impacto ambiental, brindamos una atención de alta calidad, humana, oportuna y de bajo costo, constituyendo así un centro de referencia en el área endocrinológica.</p>

<h3>Nuestra Visión</h3>
<p>El Centro de Investigaciones Endocrino-Metabólicas Dr. Félix Gómez de la Facultad de Medicina de la Universidad del Zulia, es un centro líder en investigación clínica, básica y epidemiológica, así como en el desarrollo y producción de fármacos, tanto a nivel nacional como internacional, mediante el fortalecimiento de líneas de investigación y formación de recursos humanos, constituyendo así el organismo de referencia por excelencia para el diagnóstico, tratamiento y prevención de enfermedades endocrino-metabólicas, siendo nuestro norte el brindar una atención de alta calidad a nuestros pacientes mediante la actualización constante de nuestros empleados y tecnologías.</p>

{% endblock %}