{% extends "homepage/index.html" %}
{% block title %}Acerca de{% endblock %}
{% block tittle %}
Acerca del CIEM
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/homepage/misionvision.css">
{% endblock %}

{% block content %}
<div id="contenido">
	<div id="bannerFrutas"></div>
	<div id="wrapper">
		<h3>Nuestra Misión</h3>
		<div class="rayita"></div>
		<p> {{ mision }} </p>
		<h3>Nuestra Visión</h3>
		<div class="rayita"></div>
		<p> {{ vision }} </p>
	</div>
</div>
{% endblock %}