{% extends "homepage/index.html" %}
{% block title %}Calculadora de calorías{% endblock %}
{% block head%}
<script src="{{ MEDIA_URL }}js/adquiridos/jquery.min.js"></script>
<script src="{{ MEDIA_URL }}js/propios/calculadora.js"></script>

{% endblock%}
{% block tittle %}
 Calc
{% endblock%}

{% block content %}
<br>
CALCULADORA
<div id="fondo1">
	<div id="alimentos">
		<SELECT id="selCombo" NAME="selCombo" SIZE=1 onChange="cambiarValor()"> 
			{% for a in alimentos%}
			<OPTION value="{{a.calorias}}" ><p>{{ a.nombre }}</p></OPTION>
			{% endfor %}
		</SELECT> 
	</div>
	<div id="calorias">Calorias = </div>
	<a id="add" href="#"><div id="addAlimento">ADD</div></a>
    <br>
	<div id="alinearcalc">
	<div id="tablaCalc">
    </div>
    </div>
    <a id="sumar" href="#"><div id="sumarAlimento">SUM</div></a>
    <div id="alimento"></div>
    <div id="resultado"></div>
	
</div>
{% endblock%}