{% extends "homepage/index.html" %}
{% block head%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script>
    $(function(){
        $('#selCombo').change(function() {
            var obj = document.getElementById('selCombo');
            $('#calorias').text("Calorias = "+ obj.value);
        });
    });
</script>
{% endblock%}
{% block tittle %}
 Calc
{% endblock%}

{% block content %}
<br>
CALCULADORA
<br><br><br />
<div id="alimentos">
<SELECT id="selCombo" NAME="selCombo" SIZE=1 onChange="cambiarValor()"> 
{% for a in alimentos%}
<OPTION value="{{a.calorias}}" ><p>{{ a.nombre }}</p></OPTION>
{% endfor %}
</SELECT> 

<br>
<div id="calorias">Calorias = </div>
</div>
{% endblock%}