{% extends "homepage/index.html" %}

{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/homepage/historia.css">{% endblock %}

{% block content %}
	<form class="historia" method="POST" action="." >
		{% csrf_token %}
          	<div class="Item" id="titulo"> 
            	<div class="pregunta" id="subt">
            	Salsas y condimentos</div>
            	<div class="frecuencia" id="subt"><label>Frecuencia</label></div>
                <div class="tamano" id="subt">Tamaño de la Porción</div>
            </div>
                    
        	<div class="Item"> 
            	<div class="pregunta">
            	Salsas de queso y salsas cremosas  como la de champinones, bechamel </div>
            	<div class="frecuencia">{{ formulario.f1 }}	</div>
                <div class="tamano">{{ formulario.t1 }}	</div>
            </div>
            
          	<div class="Item"> 
            	<div class="pregunta">
            	Mayonesa o semejantes </div>
            	<div class="frecuencia">{{ formulario.f2 }}	</div>
                <div class="tamano">{{ formulario.t2 }}	</div>
                
            </div>    
            	<div class="Item"> 
            	<div class="pregunta">
            	Salsa de tomate Ketchup normal </div>
                <div class="frecuencia">{{ formulario.f3 }}	</div>
                <div class="tamano">{{ formulario.t3 }}	</div>
         
            </div>  
              
            	<div class="Item"> 
            	<div class="pregunta">
            	Salsa de tomate ligera </div>
            	<div class="frecuencia">{{ formulario.f4 }}	</div>
  				<div class="tamano">{{ formulario.t4 }}	</div>              
            </div>    
            
    
            	<div class="Item"> 
            	<div class="pregunta">
            	Guasacaca </div>
            	<div class="frecuencia">{{ formulario.f5 }}	</div>
  				<div class="tamano">{{ formulario.t5 }}	</div>              
            </div>  
 
            	<div class="Item"> 
            	<div class="pregunta">
            	Mostaza </div>
            	<div class="frecuencia">{{ formulario.f6 }}	</div>   
 				<div class="tamano">{{ formulario.t6 }}	</div>                     
               </div>  
                 
            	<div class="Item"> 
            	<div class="pregunta">
            	Salsas picantes </div>
            	<div class="frecuencia">{{ formulario.f7 }}	</div>
  				<div class="tamano">{{ formulario.t7 }}	</div>              
            </div>            
   
         <div class="enviar"><input type='submit' value='Enviar'></div>
	</form>
{% endblock %}