{% extends "base.html" %}

{% block tittle %}
Página principal
{% endblock%}

{% block navi %}
	<ul>
		<li><a href="{% url homepage_index %}">Inicio</a></li>
		<li>
			{% if user.is_authenticated %}
				<a href="{% url account_profile %}">Usuarios</a> 
			{% else %}
				<a href="{% url account_login %}">Usuarios</a>
			{% endif %}
		</li>
		<li><a id="linkAbout" href="{% url homepage_about %}">CIEM</a></li>
		<li><a href="{% url homepage_contact %}">Contacto</a></li>
		<li><a href="{% url homepage_historia %}">Historia</a></li>
		<li>
			{% if user.is_authenticated %}
				<a href="{% url account_logout %}">Logout</a>
			{% else %}
				<a href="{% url account_register %}">Register</a>
			{% endif %}
		</li>

	</ul>
{% endblock %}

{% block clear %}
{% endblock%}

{% block content %}


{% endblock%}

{% block footer %}
Desarrollo para optar por el titulo de ing en informatica 2012 COPYRIGHT 
{% endblock%}