{% extends "base.html" %}
{% load article_tags %}
{% block title %}
Centro de investigaciones Endocrino-Metabólicas
{% endblock%}

{% block navi %}

		<a href="{% url homepage_index %}"><div>Inicio</div></a>
			{% if user.is_authenticated %}
				<a href="{% url account_profile %}"><div>Mi Perfil</div></a> 
			{% else %}
				<a href="{% url account_login %}"><div>Ingresar</div></a>
			{% endif %}
		
		<a id="linkAbout" href="{% url homepage_about %}"><div>Nosotros</div></a>
		<a href="{% url homepage_contact %}"><div>Contacto</div></a>
		<a href="{% url account_ipaq %}"><div>IPAQ</div></a>
			{% if user.is_authenticated %}
				<a href="{% url account_logout %}"><div>Cerrar Sesión</div></a>
			{% else %}
				<a href="{% url account_register %}"><div>Registrarme </div></a>
			{% endif %}
		<a href="{% url homepage_index %}"><div>Inicio</div></a>
		<a href="{% url homepage_index %}"><div>Inicio</div></a>
{% endblock %}

{% block clear %}{% endblock%}

{% block content %}

	<div id="imagenHistoria">
			
	</div>
	<div id="imagenHistoria2">
			<a href="{% url homepage_calculadora %}">
				<div class="boton">CALCULADORA DE CALORIAS</div>
			</a>
			<a href="/articleall/">
				<div class="boton">PUBLICACIONES</div>
			</a>
			<a href="{% url account_recordatorio %}">
				<div class="boton">RECORDATORIO 24 HORAS</div>
			</a>
	</div>
	<div id="barraContenido"></div>
	<div id="cuadroPublicaciones">
		<h2>Publicaciones</h2>
		{% get_articles 5 as arti %}
		{% for a in arti %}
		<h3>{{a.title}}</h3>
				<article>
					{{a.body}}
				</article>
				<section id="info">
					Autor: {{a.author}}
					Fecha: {{a.publish_date}}
					Categoría: {{a.category}}
					Etiquetas: {{a.tags}}
				</section>	
		{% endfor %}
	</div>
	<div id="imagenManzana"></div>
	<div id="eslogan">Que el alimento sea tu única medicina</div>
{% endblock%}

{% block footer %}
Centro de Investigaciones Endocrino-Metabolicas. © Copyright 2012. Todos los Derechos Reservados.  
{% endblock%}