.lupa{
	position: relative;
	left: 95px;
	top: 0px;
	height: 65px;
	z-index: 2;	
	background:url(../../img/lupa.png) 0 0 no-repeat;

}

.cabeceraBusqueda{
	z-index: 5;
	float: left;
	width: 960px;
	height: 60px;
	margin-top: 28px;
}
.titulo{
	z-index: 3;
	background: green;
	float: left;
	width: 822px;
	height: 36px;
	line-height: 36px;
	margin-top: 10px;
	font-size: 20px;
	text-indent: 78px;
	margin-left: 80px;
	-webkit-box-shadow: 2px 2px 5px 0 #888;  box-shadow: 2px 2px 5px 0 #888;
	color: white;
}
.fondo1{
	float: left;
	width: 411px;
	height: 306px;
	background-color: #FAF6DC;
	z-index: 1;
}
.fondo2{
	float: left;
	width: 411px;
	height: 306px;
	background-color: #F0F0F0;

}

.separar{
	position: relative;
	width: 10px;
	height: 10px;
}

.desde{
	float: left;
	margin-right: 6px;
}
.hasta{
	float: left;
	margin-right: 6px;
	margin-left: 26px;
}
.desdeCaja{
	float: left;
}
.cuadro{
		margin-left: 68px;
}
.tabla{
	float: left;
	width: 822px;
	height: 357px;
	margin-left: 80px;
	margin-top: -14px;
	-webkit-box-shadow: 2px 2px 5px 0 #888;
	box-shadow: 2px 2px 5px 0 #888;
}
#l2{
	width: 84px;
	float: left;
	font-size: 13px;
	margin-top: 4px;
	font-weight: bold;
}
.item_busqueda{
	width: 370px;
	margin-left: 27px;
	margin-top: 41px;
}
.separar{

}
#id_genero{
	width: 163px;
}
#id_obesidad{
	width:  260px;
}
#id_actividadFisica{
	width: 163px;
}
.cuadroBuscar{
	height: 557px;


}
.fix{
	width: 330px;
	text-align: center;
}
#personas_encontradas{
	margin-top: 3px;
	width: 789px;
	float: left;
	margin-left: 67px;
	background-color: #9EE09E;
	padding: 20px;
	text-align: center;
}

.label{
	float: left;
	width: 163PX;
	font-size: 13px;
	margin-top: 4px;
	font-weight: bold;
}

#boton{
	cursor:pointer;
	margin-top: 42px;
	position: relative;
	left: 29px;
	cursor: pointer;
	background-color: #009B00;
	border:1px solid #000;
	border-radius: .2em;
	color:#EEE;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	transition-duration: .2s;
	float: left;
	font-weight: 700;
	clear: both;
	padding: 10px 50px;
	margin-left: 386px;
	-webkit-transition-duration:.2s;-moz-transition-duration:.2s;transition-duration:.2s;
}
#boton:hover{background:#04B486;color:#FFF}

#id_estado{
	width: 162px;
}




#obesidalabel{
	width: 85px;
}
.fondo3{
	float: left;
	width: 822px;
	height: 47px;
	background-color: #FDFDFD;
}
.item_patologia{
	margin-top: 14px;
}
.valor2{
	float: left;
	width: 136px;}

.patologiaLabel{
	float: left;
	width: 103px;
	margin-left: 28px;
	font-size: 13px;
	font-weight: bold;
}