#aviso{
	border: 1px solid gold;
	background: lightYellow;
	text-indent: 20px;
	border-radius: 5px;
	color: #DEAE00;
}

@font-face{ 
font-family: 'IcoMoon';
src: url('fonts/base/icomoon-webfont.eot');
src: url('fonts/base/icomoon-webfont.eot?#iefix') format('embedded-opentype'),
     url('fonts/base/icomoon-webfont.woff') format('woff'),
     url('fonts/base/icomoon-webfont.ttf') format('truetype'),
     url('fonts/base/icomoon-webfont.svg#IcoMoonBase') format('svg');
}

@font-face{ 
font-family: 'IcoMoonSocial';
src: url('fonts/social/icomoonsocial-webfont.eot');
src: url('fonts/social/icomoonsocial-webfont.eot?#iefix') format('embedded-opentype'),
     url('fonts/social/icomoonsocial-webfont.woff') format('woff'),
     url('fonts/social/icomoonsocial-webfont.ttf') format('truetype'),
     url('fonts/social/icomoonsocial-webfont.svg#IcoMoonSocial') format('svg');
}

span{
	font-family: 'IcoMoon',arial;
}


.nombrePaciente{
	width: 120px;
	height:20px;
	float: left;
}
.edadPaciente{
	width: 60px;
	height:20px;
	float: left;
	text-align: center;
}
.generoPaciente{
	width: 62px;
	height:20px;
	float: left;
	text-align: center;
}
.linea{
	float: left;
	clear: both;
	border: 1px solid lightgray;
	border-top: 0;
}

.cuadro_paciente{
	display:block;
	text-align:left;
	width:50%;
	margin-left:23%;
}

#titulo{
	height:25px;
}

.resultados{
	list-style:none;
	text-align:left;
	}
.resultados li a{
	text-decoration:none;
	display:block;
	padding:10px;
	margin-left:19%;
}
.fila {
	float: left;
	width: 450px;
	height: 25px;
	line-height: 25px;
	margin-bottom: 1px;
	outline: solid 1px;
	margin-left: 25%;
}
.valor{
   float: left;
   width: 150px;
   text-indent: 10px;
   text-align:left;
}

.divbold{
	font-weight: bold;	
}

.contenedorPerfil{
	float:left;	
	margin-top: 15px;
}

.calculoValor{
	float: left;
	width: 150px;
	text-align: center;
}
.rango{
   float: left;
   width: 150px;
   text-align: center;
 }


a#plusinfo:hover{	text-decoration: none;}
a#plusinfo:visited{	text-decoration: none;}
a#plusinfo:active{	text-decoration: none;}
a#plusinfo{	color: black;}
#masinfo {
	color: #ADADAD;
	float:left;
	border: 1px solid #C9C9C9;
	background: whiteSmoke;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	text-indent: 7px;
	line-height: 24px;
	width: 25px;
	height: 25px;
	margin-left: 40px;
	margin-top: -40px;
	text-decoration: none;
}

a#anterior {
	text-decoration: none;
	color: #444;
    font-size: 5em;
    float: left;
}

a#anterior:hover {
	color: black;
}

/* FRECUENCIA DE CONSUMO*/
.botonFont{
	color: #ADADAD;
	float:left;
	border: 1px solid #C9C9C9;
	background: whiteSmoke;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	width: 25px;
	height: 25px;
	text-indent: 8px;
	line-height: 23px;
}
.tamanoLetra{
	position: fixed;
	left: 85%;
}
.lineaFrecuencia{
	float: left;
	height: 32px;
	border: 1px solid gray;
	line-height: 28px;
	text-indent: 4px;
	overflow: hidden;
}
.tablaFrecuencia{
	float: left;
	width: 750px;
	margin-top: 30px;
	margin-right: 10%;
	margin-left: 10%;
	font-family: "arial narrow";
	font-size: 103%;
}
.nombreAlimento{
	float: left;
	width: 450px;
}
.frecuenciaAlimento{
	float: left;
	width: 120px;
}
.porcionAlimento{
	text-align: center;
	float: left;
	width: 74px;
}
.mediaAlimento{
	text-align: center;
	float: left;
	width: 100px;
}
#contenedorBarra{
	float: right;
	margin-right: 65px;
}

#contenedorConsumoFrecuencia{

}
/* Chrome, Safari - value portion of progress bar */
progress#bar::progress-value {
	background-color: #E0FFB8;
	float: right;
}

/* All other attributes */
progress#bar {
	float: right;
	background-color: #E0FFB8;
	border: solid #808080 1px;
	padding: 3px;
	width: 400px;
	height: 20px;
	margin-top: -20px;
}


#pop {
	position: fixed;
	visibility: hidden;
	left: 50%;
	top: 50%;
	margin:-125px 0 0 -250px; /* [-(height/2)px 0 0 -(width/2)px] */
	width: 500px;
	height: 250px;
	background-color: #EFFFDA;
	border: 1px solid #000;
	padding: 10px;


}

#cerrar a:hover{	text-decoration: none;}
#cerrar a:visited{	text-decoration: none;}
#cerrar a:active{	text-decoration: none;}
#cerrar a{color: white;}
#cerrar {
   float:right;
   margin-right:5px;
   cursor:pointer;
   font:Verdana, Arial, Helvetica, sans-serif;
   font-size:12px;
   font-weight:bold;
   color:#FFFFFF;
   background-color:green;
   width:12px;
   position:relative;
   margin-top:-1px;
   text-align:center;
}


/*VENTANA POP*/


.variableMas{
	color: #3F3F3F;
	float: left;
	width: 474px;
	border-bottom: 1px solid darkGray;
	margin-bottom: 5px;
}
.varLabel{
	float: left;
}
.varContenido{
	margin-left: 6px;
	float: left;
}
