.divisorSeccion{float:left;width:840px;font-size:13px;height:16px;margin-bottom:5px}
.lineaDivisorSeccion{background-color:lightgray;height:2px;float:left;width: 500px;margin-top:-8px;margin-left: 198px;}
.fondoGeneral{float:left;width:860px;height:175px;margin-left:100px}
.labelGeneral{float:left;font-size:17px;width:140px;color:#818D50;text-align:right;margin-right:10px}
.contenidoGeneral{float:left;color:#525252}
.lineaGeneral{float:left;clear:both;margin-bottom:10px}
.generalIzquierda,.generalDerecha{float:left;width:350px;height:100px;margin-top:10px}
.botonLlenar{margin-left: 70px;float:left;background-color:#CAEBCF;width:240px;height:40px;margin-top:25px;-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:1px 3px 2px 0 #B4B4B4;box-shadow:1px 3px 2px 0 #B4B4B4}
.botonLlenar:hover{background-color:#97CFA0}
#aviso{
	border: 1px solid gold;
	background: lightYellow;
	text-indent: 20px;
	border-radius: 5px;
	color: #DEAE00;
	width: 60%;
	margin-left:20%; 
	font-weight: bold;
}

#indicadores{
	background: #FAF6DC;
	text-indent: 50px;
	padding-top: 20px;
	padding-bottom: 20px;

}


#indicadores p{	
	background: #F0F0F0;
	width: 80%;
	margin-left: 10%;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}
#aviso span{
	font-family: 'IcoMoon',arial;
	font-size: 3em;
}

#busqueda{
	margin-left: 40px;
	float: left;

}
.a-btn{
	text-decoration: none;
    background: #44A732;    
	background: -webkit-gradient(linear,left top,left bottom,color-stop(#44A732,0),color-stop(#44A732,1));
	background: -webkit-linear-gradient(top, #44A732 0%, #44A732,1100%);
	background: -moz-linear-gradient(top, #44A732 0%, #44A732,1100%);
	background: -o-linear-gradient(top, #44A732 0%, #44A732,1100%);
	background: linear-gradient(top, #44A732 0%, #44A732 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a9da', endColorstr='#6f97c5',GradientType=0 );
    padding-left:20px;
    padding-right:80px;
    height:38px;
    display:inline-block;
    position:relative;
    
	border: 1px solid #44A732;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    float:left;
    clear:both;
    margin:10px 0px;
    overflow:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn-text{
    padding-top:5px;
    display:block;
    line-height: 25px;
    white-space:nowrap;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    color: #FFFFFF;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.a-btn-slide-text{
    position:absolute;
    height:100%;
    top:0px;
    right:52px;
    width:0px;
    background:#63707e;
    text-shadow:0px -1px 1px #363f49;
    color:#fff;
    font-size:18px;
    white-space:nowrap;
    text-transform:uppercase;
    text-align:left;
    text-indent:10px;
    overflow:hidden;
    line-height:38px;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -o-transition:width 0.3s linear;
    transition:width 0.3s linear;
}
.a-btn-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:52px;
    border-left:1px solid #5d81ab;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-icon-right span{
    width:38px;
    height:38px;
    opacity:0.7;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    background:transparent url(../../img/arrow_right.png) no-repeat 50% 55%;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn:hover{
    padding-right:120px;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
}
.a-btn:hover .a-btn-text{
    text-shadow: 0px 1px 1px #3B72B1;
    color:#fff;
}
.a-btn:hover .a-btn-slide-text{
    width:40px;
}
.a-btn:hover .a-btn-icon-right span{
    opacity:1;
}
.a-btn:active{
    position:relative;
    top:1px;
    background:#5d81ab;
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color:#80a9da;
}
.nombrePaciente{
	width: 300px;
	height:20px;
	float: left;
	font-weight: bold;
	text-transform: capitalize;
}
.edadPaciente{
	width: 100px;
	height:20px;
	float: left;
	text-align: center;
}
.generoPaciente{
	width: 140px;
	height:20px;
	float: left;
	text-align: center;
}
.linea{
	float: left;
	clear: both;
	border-bottom: 1px solid #AAA;
	margin-left: 20px;
	text-indent: 15px;
	margin-bottom: 4px;
}
.linea a{
	text-decoration: none;
	color:#333;
}
.linea a:hover{
	text-decoration: underline;
}
.cuadro_paciente{
	display:block;
	text-align:left;
	width:50%;
	margin-left:23%;
}

#titulo{
	height:25px;
}

.resultados{
	list-style:none;
	text-align:left;
	}
.resultados li a{
	text-decoration:none;
	color:black;
	text-indent: 10px;
	line-height: 40px;

}
.fila {
	float: left;
	width: 460px;
	height: 25px;
	line-height: 25px;
	margin-bottom: 1px;
	outline: solid 1px;
	margin-left: 25%;
}
.valor{
   float: left;
   width: 160px;
   text-indent: 2px;
   text-align:left;
}

.divbold{
	font-weight: bold;	
}

.contenedorPerfil{
	float:left;	
	margin-top: 15px;
}

.calculoValor{
	float: left;
	width: 150px;
	text-align: center;
}
.rango{
   float: left;
   width: 150px;
   text-align: center;
 }


a#plusinfo:hover{	text-decoration: none;}
a#plusinfo:visited{	text-decoration: none;}
a#plusinfo:active{	text-decoration: none;}
a#plusinfo{	color: black;}
#masinfo {
	color: #ADADAD;
	float:left;
	border: 1px solid #C9C9C9;
	background: whiteSmoke;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	text-indent: 7px;
	line-height: 24px;
	width: 25px;
	height: 25px;
	margin-left: 40px;
	margin-top: -40px;
	text-decoration: none;
}

a#anterior {
	text-decoration: none;
	color: #444;
    font-size: 5em;
    float: left;
}

a#anterior:hover {
	color: black;
}

/* FRECUENCIA DE CONSUMO*/
.botonFont{
	color: #ADADAD;
	float:left;
	border: 1px solid #C9C9C9;
	background: whiteSmoke;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	width: 25px;
	height: 25px;
	text-indent: 8px;
	line-height: 23px;
}
.tamanoLetra{
	position: fixed;
	left: 85%;
}
.lineaFrecuencia{
	float: left;
	height: 32px;
	border: 1px solid gray;
	line-height: 28px;
	text-indent: 4px;
	overflow: hidden;
}
.tablaFrecuencia{
	float: left;
	width: 750px;
	margin-top: 30px;
	margin-right: 10%;
	margin-left: 10%;
	font-family: 'open sans', Arial, Helvetica, Sans-serif;
	font-size: 103%;
}
.nombreAlimento{
	float: left;
	width: 450px;
}
.frecuenciaAlimento{
	float: left;
	width: 120px;
}
.porcionAlimento{
	text-align: center;
	float: left;
	width: 74px;
}
.mediaAlimento{
	text-align: center;
	float: left;
	width: 100px;
}
#contenedorBarra{
	float: right;
	margin-right: 65px;
}

#contenedorConsumoFrecuencia{

}
/* Chrome, Safari - value portion of progress bar */
progress#bar::progress-value {
	background-color: #E0FFB8;
	float: right;
}

/* All other attributes */
progress#bar {
	float: right;
	background-color: #E0FFB8;
	border: solid #808080 1px;
	padding: 3px;
	width: 400px;
	height: 20px;
	margin-top: -20px;
}


#pop {
	position: fixed;
	visibility: hidden;
	left: 50%;
	top: 50%;
	margin:-125px 0 0 -250px; /* [-(height/2)px 0 0 -(width/2)px] */
	width: 500px;
	height: 250px;
	background-color: #EFFFDA;
	border: 1px solid #000;
	padding: 10px;


}

#cerrar a:hover{	text-decoration: none;}
#cerrar a:visited{	text-decoration: none;}
#cerrar a:active{	text-decoration: none;}
#cerrar a{color: white;}
#cerrar {
   float:right;
   margin-right:5px;
   cursor:pointer;
   font:Verdana, Arial, Helvetica, sans-serif;
   font-size:12px;
   font-weight:bold;
   color:#FFFFFF;
   background-color:green;
   width:12px;
   position:relative;
   margin-top:-1px;
   text-align:center;
}
/*VENTANA POP*/
.variableMas{
	color: #3F3F3F;
	float: left;
	width: 474px;
	border-bottom: 1px solid darkgray;
	margin-bottom: 5px;
}
.varLabel{
	float: left;
}
.varContenido{
	margin-left: 6px;
	float: left;
}


/*PRINCIPAL*/
.fondoLista{
	float: left;
	margin-top: -6px;
	margin-left: 150px;
	margin-bottom: 30px;
	background-color: #EFFFDA;
	border: 1px solid #AFAFAF;
	padding-bottom: 20px;
	padding-right: 20px;
}
.tituloResultado {
	margin-top: 24px;
	margin-left: 35px;
	position: relative;
	color: white;
	font-family: tahoma;
	font-size: 21px;
	line-height: 38px;
	text-align: center;
	float: left;
	width: 360px;
	height: 40px;
	background-color: #2C792C;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 2px 2px 3px 0px #888;
	box-shadow: 2px 2px 3px 0px #888;
}
