{% extends "homepage/index.html" %}
{% block title %}Datos antropometricos{% endblock %}
{% block css %}<link rel="stylesheet" href=" {{ MEDIA_URL }}css/account/antropometricos.css">{% endblock %}
{%load humanize%}
{%load custom_filters%}

{% block content %}
{% if final %}
<div id="antropometricos">
	<div class="alineacionResultado">
		<div class="contenidoResultado">
			<div class="identificadorValor">
				<div class="identificador1">Fecha</div>
				<div class="identificador1">Peso</div>
				<div class="identificador1">Estatura</div>
				<div class="identificador1">Cir. cadera</div>
				<div class="identificador1">Cir. cintura</div>
				<div class="identificador">Cáncer</div>
				<div class="identificador">Diabetes</div>
				<div class="identificador">Colesterol</div>
				<div class="identificador">Hipertensión</div>
				<div class="identificador">Triglicéridos</div>
			</div>
			<div class="resultadoValor">
				<div class="resultado1">{{ apreciacion.0.fecha_creacion|date:"d,M Y" }}</div>
				<div class="resultado1">{{ apreciacion.0.peso|floatformat:0}} Kg</div>
				<div class="resultado1">{{ apreciacion.0.estatura|floatformat:0}} cm</div>
				<div class="resultado1">{{ apreciacion.0.circunferencia_cadera|floatformat:0}} cm</div>
				<div class="resultado1">{{ apreciacion.0.circunferencia_cintura|floatformat:0}} cm</div>
				<div class="resultado"><div class="{% if apreciacion.0.cancer %}divPositivo{% else %}divNegativo{% endif %}"></div></div>
				<div class="resultado"><div class="{% if apreciacion.0.diabetes %}divPositivo{% else %}divNegativo{% endif %}"></div></div>
				<div class="resultado"><div class="{% if apreciacion.0.colesterol %}divPositivo{% else %}divNegativo{% endif %}"></div></div>
				<div class="resultado"><div class="{% if apreciacion.0.hipertencion %}divPositivo{% else %}divNegativo{% endif %}"></div></div>
				<div class="resultado"><div class="{% if apreciacion.0.trigliceridos %}divPositivo{% else %}divNegativo{% endif %}"></div></div>
			</div>
			<div class="apreciacionResultado">
				<div class="apreciacionObesidad">
					<div class="labelApreciacion">Obesidad</div>
					<div class="valueApreciacion">
						{% if apreciacion.0.apreciacion_obesidad|compareTo:"Sobrepeso (Obesidad grado I)" %}
						Sobrepeso
						{% else %}
						{{ apreciacion.0.apreciacion_obesidad }}
						{%endif%}
					</div>
				</div>
				<div class="apreciacionCintura">
					<div class="labelApreciacion">Cintura</div>
					<div class="valueApreciacion">{{ apreciacion.0.apreciacion_cintura }}</div>
				</div>
				<div class="apreciacionAdiposidad">
					<div class="labelApreciacion">Adiposidad</div>
					<div class="valueApreciacion">{{ apreciacion.0.apreciacion_adiposidad }}</div>
				</div>
			</div>
			<div class="tituloApreciacion">Apreciación</div>

		</div>

		<div class="tituloResultado">Resultados Antropométricos</div>
	</div>
	<div class="recomendarIPAQ">Le recomendamos llenar el cuestionario de actividad Física (IPAQ)</div>
	<a href="{% url account_ipaq %}"><div class="enlaceIPAQ">AQUÍ</div></a>
</div>
{% else %}
<div id="antropometricos">
	<form action="/antropometricos/" id='formulario' method='post' enctype='multipart/form-data' action="">
	{% csrf_token %}
	<div class="cabeceraFormulario"> Datos Antropométricos</div>
	<div id="userForm" class="campoForm noDisplayDiv"><select name="user" id="id_user"><option value="{{ id }}">0</option></select></div>
	<div class="contenedorOpciones" style="background-color:#FAF6DC">
		<div id="pesoForm" class="campoForm">
			<div class="medidaIndicar" title="Kilogramos">Kg</div><div class="labelCampo">Peso:{{ form.peso }}</div>
		</div>
		<div id="tallaForm" class="campoForm">
			<div class="medidaIndicar" title="Centimetros">cm</div><div class="labelCampo">Talla (Estatura): {{ form.estatura }}</div>
		</div>
		<div id="circunferenciaCinturaForm" class="campoForm">
			<div class="medidaIndicar" title="Centimetros">cm</div><div class="labelCampo">Circunferencia cintura: {{ form.circunferencia_cintura }}</div>
		</div>
		<div id="circunferenciaCaderaForm" class="campoForm">
			<div class="medidaIndicar" title="Centimetros">cm</div><div class="labelCampo">Circunferencia cadera: {{ form.circunferencia_cadera }}</div>
		</div>
	</div>
	<div class="contenedorOpciones" style="background-color:#F0F0F0">
		<div class="sufreDe">¿Sufre usted de ...?</div>
		<div id="patologia1Form" class="campoForm2">
			<div class="labelCampo">Hipertensión: {{ form.hipertencion }}</div>
		</div>
		<div id="patologia1Form" class="campoForm2">
			<div class="labelCampo">Diabetes: {{ form.diabetes }}</div>
		</div>
		<div id="patologia1Form" class="campoForm2">
			<div class="labelCampo">Cáncer: {{ form.cancer }}</div>
		</div>
		<div id="patologia1Form" class="campoForm2">
			<div class="labelCampo">Colesterol: {{ form.colesterol }}</div>
		</div>
		<div id="patologia1Form" class="campoForm2">
			<div class="labelCampo">Triglicéridos: {{ form.trigliceridos }}</div>
		</div>		
	<div id="botonContinuar">
	<input id="submit" type='submit' value='Continuar'/>
	</div>
	</form>
</div>
{% endif%}
{% endblock %}