{% extends "homepage/index.html" %}
{% block title %}Felicitaciones{% endblock %}
{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/account/felicidades.css">
{% endblock %}
{% block content %}
{% if mensaje and enlace %}
<div id="felicidades" class="agradecimiento">
	<span aria-hidden="true">C</span>
	{{mensaje|escape}}
	{% if enlace == "/perfil/" %}
	Para regresar al perfil hacer clic <a href="{{enlace}}">[Aquí]</a>
	{% else %}
	Para continuar hacer clic <a href="{{enlace}}">[Aquí]</a>
	{% endif %}
</div>
{% else %}
Error.
{% endif %}
{% endblock %}