{% extends "homepage/index.html" %}
{% load custom_filters%}
{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/account/frecuencia.css">{% endblock %}
{% block js %} <script src="{{ MEDIA_URL }}js/adquiridos/jquery.min.js"></script>
<script src="{{ MEDIA_URL }}js/propios/frecuencia.js"></script>{% endblock %}
{% block content %}
	{% if progreso %}
	 	{% if progreso|get_int < 9 %}
		<div>Sección: {{progreso}}   </div>
		<form action="." method="POST" id="seccion1">
			{% csrf_token %}
			{{preguntas.management_form}}
			<div class="pregunta">
				<div class="texto">Alimento</div>
				<div class="frecuencia">Frecuencia de consumo</div>
				<div class="media">Media</div>
				<div class="porcion">Porcion P M G</div>
			</div>
			{% for pregunta in preguntas %}
			<div class="noDisplayDiv">
				{{forloop.counter0|get_select_alimento:alimento}}
				{{forloop.counter0|get_select_frecuencia:perfilFrecuencia}}
			</div>
			<div class="pregunta">
				<div class="texto">{{forloop.counter}}. {{forloop.counter0|get_descripcion:alimento}}</div>
				<div class="frecuencia">{{pregunta.frecuencia}}</div>
				<div class="media">{{forloop.counter0|get_media:alimento}}</div>
				<div class="porcion">{{forloop.counter0|get_radio_porcion}}</div>
			</div>
			{% endfor %}
			<input value="Guardar" type="submit" style="float:left;clear:both;">
		</form>
		<div id="enviarS1" style="height:50px;width:50px;background-color:black;cursor:pointer;"></div>
		{% else %}

		<div class="agradecimeinto">Usted ha finalizado exitosamente el formulario de frecuencia de consumo, le agradecemos su cooperacion en nuestra investigación.
		</div>
		{% endif %}
	{% else %}

		<div>Presione iniciar para iniciar a llenar su formulario de frecuencia de consumo alimenticio.</div>
		<form action="" id='botonInicioFrecuencia' method='post'>
			{% csrf_token %}
		<input value="Iniciar" type="submit" style="float:left;clear:both;">
		</form>
	{% endif %}
{% endblock %}