{% extends "homepage/index.html" %}
{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/account/frecuencia7.css">
{% endblock %}

{% block content %}
	<form action="." method="POST">
		{% csrf_token %}
		<div id="userForm" class="campoForm noDisplayDiv"><select name="user" id="id_user"><option value="{{ user.id }}">0</option></select></div>

		<div class="preguntaCompleta" id="p1">
	        <div class="pregunta"><div class="identificadorPregunta">1</div>¿Acostumbró a comer pollo o pavo?</div>
	     	<div class="siNo">
	            <div class="seleccion">{{form.p1}}</div>
	        </div>
	        <div class="subpregunta" id="sp1">    
	     		<div class="spregunta">¿Con que frecuencia comió el pellejo del pollo o pavo?</div>
	     		<div class="respuesta">
	                <div class="seleccion">{{form.p1a}}</div>
	            </div>
	        </div>
	    </div>

		<div class="preguntaCompleta" id="p2">
	        <div class="pregunta"><div class="identificadorPregunta">2</div>¿Acostumbró a comer carne de res, puerco, jamón, carnero u ovejo?</div>
	     	<div class="siNo">
	            <div class="seleccion">{{form.p2}}</div>
	        </div>
	        <div class="subpregunta" id="sp2">    
	     		<div class="spregunta">¿Con que frecuencia comió la grasa de la carne?</div>
	     		<div class="respuesta">
	                <div class="seleccion">{{form.p2a}}</div>
	            </div>
	        </div>
	    </div>

		<div class="preguntaCompleta" id="p3">
	        <div class="pregunta"><div class="identificadorPregunta">3</div>¿Acostumbró a comer torticas o albóndigas de carne molida u otro tipo de carne molida?</div>
	     	<div class="siNo">
	            <div class="seleccion">{{form.p3}}</div>
	        </div>
	        <div class="subpregunta" id="sp3">    
	     		<div class="spregunta">¿Como era la carne?</div>
	     		<div class="respuesta">
	                <div class="lista">
	                	<div class="itemLista">{{form.p3a}}Regular</div>
	                	<div class="itemLista">{{form.p3b}}Magra</div>
	                	<div class="itemLista">{{form.p3c}}Extra magra</div>
	                	<div class="itemLista">{{form.p3d}}Carne molida de pollo</div>
	                	<div class="itemLista">{{form.p3e}}No sé</div>
	                </div>
	            </div>
	        </div>
	    </div>

	    <div class="preguntaCompleta" id="p4">
	        <div class="pregunta"><div class="identificadorPregunta">4</div>¿Acostumbró a tomar jugo de naranja, toronja u otro tipo de jugo de fruta, naturales o envasados?</div>
	     	<div class="siNo">
	            <div class="seleccion">{{form.p4}}</div>
	        </div>
	        <div class="subpregunta" id="sp4">    
	     		<div class="spregunta">¿Se le agregó alguna vitamina o minerales al jugo?</div>
	     		<div class="respuesta">
	                <div class="seleccion">{{form.p4a}}</div>
	            </div>
	        </div>
	    </div>

	    <div class="preguntaCompleta" id="p5">
	        <div class="pregunta"><div class="identificadorPregunta">5</div>¿Acostumbró a comer cereales frios?</div>
	     	<div class="siNo">
	            <div class="seleccion">{{form.p3}}</div>
	        </div>
	        <div class="subpregunta" id="sp5">    
	     		<div class="spregunta">¿Qué tipo era?</div>
	     		<div class="respuesta">
	                <div class="lista">
	                	<div class="itemLista">{{form.p5a}}Instantáneos como Corn Flakes, etc</div>
	                	<div class="itemLista">{{form.p5b}}Con fibra o salvado como Special K, All bran, etc</div>
	                	<div class="itemLista">{{form.p5c}}Granola regular</div>
	                	<div class="itemLista">{{form.p5d}}Granola baja en grasa. Barras de grano o Corn flakes</div>
	                	<div class="itemLista">{{form.p5e}}Cereales dulces como Pop corn, Zucaritas</div>
	                </div>
	            </div>
	        </div>
	    </div>

		<div class="preguntaCompleta" id="p6">
	        <div class="pregunta"><div class="identificadorPregunta">6</div>¿Acostumbró a ponerle leche(todo tipo), crema o sustituto de crema a su café?</div>
	     	<div class="siNo">
	            <div class="seleccion">{{form.p7}}</div>
	        </div>
	        <div class="subpregunta" id="sp6">    
	     		<div class="spregunta">¿Qué tipo era?</div>
	     		<div class="respuesta">
	                <div class="lista">
	                	<div class="itemLista">{{form.p7a}}Crema o mitad leche/mitad descremada</div>
	                	<div class="itemLista">{{form.p7b}}Leche no descremada</div>
	                	<div class="itemLista">{{form.p7c}}Leche descremada al 2%</div>
	                	<div class="itemLista">{{form.p7d}}Leche descremada al 1% o leche agria</div>
	                	<div class="itemLista">{{form.p7e}}Leche completamente descremada</div>
	                	<div class="itemLista">{{form.p7f}}Leche de soja</div>
	                	<div class="itemLista">{{form.p7g}}Sustituto de crema</div>
	                	<div class="itemLista">{{form.p7h}}No sé</div>
	                </div>
	            </div>
	        </div>
	    </div>

	    <div class="preguntaCompleta" id="p7">
	        <div class="pregunta"><div class="identificadorPregunta">7</div>¿Acostumbró a ponerle leche(todo tipo), crema o sustituto de crema a su cereal?</div>
	     	<div class="siNo">
	            <div class="seleccion">{{form.p6}}</div>
	        </div>
	        <div class="subpregunta" id="sp7">    
	     		<div class="spregunta">¿Cuál comió?</div>
	     		<div class="respuesta">
	                <div class="lista">
	                	<div class="itemLista">{{form.p6a}}Crema o mitad leche/mitad descremada</div>
	                	<div class="itemLista">{{form.p6b}}Leche no descremada</div>
	                	<div class="itemLista">{{form.p6c}}Leche descremada al 2%</div>
	                	<div class="itemLista">{{form.p6d}}Leche descremada al 1% o leche agria</div>
	                	<div class="itemLista">{{form.p6e}}Leche completamente descremada</div>
	                	<div class="itemLista">{{form.p6f}}Leche de soja</div>
	                	<div class="itemLista">{{form.p6g}}Sustituto de crema</div>
	                	<div class="itemLista">{{form.p6h}}No sé</div>
	                </div>
	            </div>
	        </div>
	    </div>

	    <div class="preguntaCompleta" id="p8">
	        <div class="pregunta"><div class="identificadorPregunta">8</div>¿Acostumbró a tomar leche(todo tipo)? Incluidas bebidas hechas con leche como café con leche.</div>
	     	<div class="siNo">
	            <div class="seleccion">{{form.p8}}</div>
	        </div>
	        <div class="subpregunta" id="sp4">    
	     		<div class="spregunta">¿Qué tipo de leche consumió?</div>
	     		<div class="respuesta">
	                <div class="seleccion">{{form.p8a}}</div>
	            </div>
	        </div>
	    </div>
			{{form.as_p}}
		<div id="botonFinalizar">
			<input type="submit" value="Register" id="botonregistro">
		</div>
	</form>
{% endblock %}