{% extends "homepage/index.html" %}
{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/account/frecuencia.css">{% endblock %}
{% block js %} <script src="{{ MEDIA_URL }}js/adquiridos/jquery.min.js"></script>
<script src="{{ MEDIA_URL }}js/propios/frecuencia.js"></script>{% endblock %}
{% block content %}
	{% if progreso %} 
		<div>Sección: {{progreso}}   </div>
		{%for a in alimento%}
		<form action="." method="POST" id="pregunta{{ a.id }}">
			{% csrf_token %}
			{{ pregunta.management_form }}
			{% for pregunta in preguntas %}
			<div class ="pregunta">
			<div class="textoPregunta">{{ pregunta.alimento }}</div>
			<div class="frecuencia">{{ pregunta.frecuencia }}</div>
			<div class="media">{{ a.media }}</div>
			<div class="porcion">{{ pregunta.porcion }}</div>
			</div>
			{%endfor%}
			<div class="errores">{{ pregunta.non_field_errors }}
				{{ pregunta.frecuencia.errors }}
				{{ pregunta.porcion.errors }}
				{{ pregunta.frecuenciaConsumo.errors }}
				{{pregunta.alimento.errors}}

			<input value="Iniciar" type="submit" style="float:left;clear:both;">
		</form>
		{%endfor%}
		<div id="enviarS1" style="height:50px;width:50px;background-color:black;cursor:pointer;"></div>
	{% else %}

		<div>Presione iniciar para iniciar a llenar su formulario de frecuencia de consumo alimenticio.</div>
		<form action="" id='botonInicioFrecuencia' method='post'>
			{% csrf_token %}
		<input value="Iniciar" type="submit" style="float:left;clear:both;">
		</form>
	{% endif %}
{% endblock %}