{% extends "homepage/index.html" %}
{% block title %}Indicadores dieteticos{% endblock %}
{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/account/indicadoresdieteticos.css">{% endblock %}
{% block content %}
<h2>Indicadores dietéticos</h2>

	<form action="." method="POST">
		{% csrf_token %}
		<input type="hidden" id="user" name="user" value="{{ id }}" />
		<div class="campoForm">
			<div class="pregunta">{{ form.comidasAlDia.errors}} ¿Cuántas comidas hace al día? {{ form.comidasAlDia }}</div>
			<div class="pregunta">{{ form.quienPreparaAlimentos.errors }} ¿Quién prepara sus alimentos? {{ form.quienPreparaAlimentos }}</div>
		</div>	
		<div class="campoForm">
			<div class="pregunta preguntaTipoSeleccion"><div style="float:left;margin-left: 80px;">{{ form.comeEntreComidas.erros }} ¿Come entre comidas?</div><div style="float:left;">{{ form.comeEntreComidas }}</div></div>
			<div class="pregunta">{{ form.queComeEntreComidas.errors}} ¿Que come entre comidas? {{ form.queComeEntreComidas }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta preguntaTipoSeleccion"><div style="float:left;margin-left: 40px;">{{ form.modificadoAlimentacionReciente.errors}} ¿Ha modificado su alimentación en el último año? </div><div style="float:left;margin-left: 160px;">	{{ form.modificadoAlimentacionReciente }}</div></div>
			<div class="pregunta">{{ form.porqueModifico.errors }} ¿Por qué? {{ form.porqueModifico }}</div>
			<div class="pregunta">{{ form.comoModifico.erros }} ¿Cómo? {{ form.comoModifico }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta">{{ form.comoSuApetito.errors}} ¿Cómo es su apetito? {{ form.comoSuApetito }}</div>
			<div class="pregunta">{{ form.horaMasHambre.erros }} ¿A qué hora tiene más hambre? {{ form.horaMasHambre }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta">{{ form.alimentoPreferido.errors}} Alimento preferidos: {{ form.alimentoPreferido }}</div>
			<div class="pregunta">{{ form.alimentoDesagrado.erros }} Alimentos que le desagradan: {{ form.alimentoDesagrado }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta preguntaTipoSeleccion">{{ form.esAlergicoIntolerante.errors}} ¿Es alérgico o intolerante a algún alimento? {{ form.esAlergicoIntolerante }}</div>
			<div class="pregunta">{{ form.cualAlimento.erros }} ¿Cuál? {{ form.cualAlimento }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta preguntaTipoSeleccion">{{ form.salComidas.errors }} ¿Agrega sal a la comida? {{ form.salComidas }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta preguntaTipoSeleccion">{{ form.suplementoAlimenticio.errors}} ¿Toma algún suplemento alimenticio? {{ form.suplementoAlimenticio }}</div>
			<div class="pregunta">{{ form.cuantasVecesSuplemento.erros }}Cuantas veces al día:{{ form.cuantasVecesSuplemento }}</div>
			<div class="pregunta" style="margin-left: 450px;">{{ form.porqueSuplemento.erros }} Porqué lo utiliza: {{ form.porqueSuplemento }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta preguntaTipoSeleccion">{{ form.consumoVariaEmocion.errors}} ¿Su consumo de alminetos varía cuando esta ansioso, triste o nerviso? {{ form.consumoVariaEmocion }}</div>
			<div class="pregunta">{{ form.comoVariaConsumo.erros }} Cómo: {{ form.comoVariaConsumo }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta preguntaTipoSeleccion">{{ form.tieneDieta.errors}} ¿Se ha sometido a dietas? {{ form.tieneDieta }}</div>
			<div class="pregunta">{{ form.cuantasVecesDieta.erros }} Cuántas veces: {{ form.cuantasVecesDieta }}</div>
			<div class="pregunta">{{ form.tipoDieta.erros }} Qué tipo de dieta: {{ form.tipoDieta}}</div>
			<div class="pregunta">{{ form.tiempoDieta.erros }}¿Hace cuanto tiempo posee la dieta? {{ form.tiempoDieta }}</div>
		</div>
		{{ form.non_field_errors }}
		<div id="botonFinalizar">
			<input type="submit" value="Guardar" id="botonregistro">
		</div>
	</form>
{% endblock %}