{% extends "homepage/index.html" %}
{% load custom_filters %}
{% block title %}Indicadores dieteticos{% endblock %}
{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/account/indicadoresdieteticos.css">
{% endblock %}
{% block js %}
<script src="{{ MEDIA_URL }}js/adquiridos/jquery-1.8.1.min.js" type="text/javascript">
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/propios/indicadores.js"></script>
{% endblock %}
{% block content %}
<h2>Indicadores dietéticos</h2>
{% if not perfilIndicadores.0 %}
	<form action="." method="POST">
		{% csrf_token %}
		<input type="hidden" id="user" name="user" value="{{ id }}" />
		<div class="campoForm">
			<div class="pregunta">{{ form.comidasAlDia.errors}} ¿Cuántas comidas hace al día? {{ form.comidasAlDia }}</div>
			<div class="pregunta">{{ form.quienPreparaAlimentos.errors }} ¿Quién prepara sus alimentos? {{ form.quienPreparaAlimentos }}</div>
		</div>	
		<div class="campoForm">
			<div class="pregunta preguntaTipoSeleccion"><div style="float:left;margin-left: 80px;">{{ form.comeEntreComidas.erros }} ¿Come entre comidas?</div><div style="float:left;">{{ form.comeEntreComidas }}</div></div>
			<div id="condicion1"class="pregunta">{{ form.queComeEntreComidas.errors}} ¿Que come entre comidas? {{ form.queComeEntreComidas }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta preguntaTipoSeleccion"><div style="float:left;margin-left: 40px;">{{ form.modificadoAlimentacionReciente.errors}} ¿Ha modificado su alimentación en el último año? </div><div style="float:left;margin-left: 160px;">	{{ form.modificadoAlimentacionReciente }}</div></div>
			<div id="condicion2" class="pregunta">{{ form.porqueModifico.errors }} ¿Por qué? {{ form.porqueModifico }}</div>
			<div id="condicion3" class="pregunta">{{ form.comoModifico.erros }} ¿Cómo? {{ form.comoModifico }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta">{{ form.comoSuApetito.errors}} ¿Cómo es su apetito? {{ form.comoSuApetito }}</div>
			<div class="pregunta">{{ form.horaMasHambre.erros }} ¿A qué hora tiene más hambre? {{ form.horaMasHambre }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta">{{ form.alimentoPreferido.errors}} Alimento preferidos: {{ form.alimentoPreferido }}</div>
			<div class="pregunta">{{ form.alimentoDesagrado.erros }} Alimentos que le desagradan: {{ form.alimentoDesagrado }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta preguntaTipoSeleccion">{{ form.esAlergicoIntolerante.errors}} ¿Es alérgico o intolerante a algún alimento? {{ form.esAlergicoIntolerante }}</div>
			<div id="condicion4" class="pregunta">{{ form.cualAlimento.erros }} ¿Cuál? {{ form.cualAlimento }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta preguntaTipoSeleccion">{{ form.salComidas.errors }} ¿Agrega sal a la comida? {{ form.salComidas }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta preguntaTipoSeleccion">{{ form.suplementoAlimenticio.errors}} ¿Toma algún suplemento alimenticio? {{ form.suplementoAlimenticio }}</div>
			<div id="condicion5" class="pregunta">{{ form.cuantasVecesSuplemento.erros }}Cuantas veces al día:{{ form.cuantasVecesSuplemento }}</div>
			<div id="condicion6" class="pregunta" style="margin-left: 450px;">{{ form.porqueSuplemento.erros }} Porqué lo utiliza: {{ form.porqueSuplemento }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta preguntaTipoSeleccion">{{ form.consumoVariaEmocion.errors}} ¿Su consumo de alminetos varía cuando esta ansioso, triste o nerviso? {{ form.consumoVariaEmocion }}</div>
			<div id="condicion7" class="pregunta">{{ form.comoVariaConsumo.erros }} Cómo: {{ form.comoVariaConsumo }}</div>
		</div>
		<div class="campoForm">
			<div class="pregunta preguntaTipoSeleccion">{{ form.tieneDieta.errors}} ¿Se ha sometido a dietas? {{ form.tieneDieta }}</div>
			<div class="pregunta">{{ form.cuantasVecesDieta.erros }} Cuántas veces: {{ form.cuantasVecesDieta }}</div>
			<div id="condicion8" class="pregunta">{{ form.tipoDieta.erros }} Qué tipo de dieta: {{ form.tipoDieta}}</div>
			<div id="condicion9" class="pregunta">{{ form.tiempoDieta.erros }}¿Hace cuanto tiempo posee la dieta? {{ form.tiempoDieta }}</div>
		</div>
		{{ form.errors }}
		{{ form.non_field_errors }}
		<div id="botonFinalizar">
			<input type="submit" value="Guardar" id="botonregistro">
		</div>
	</form>
{% else %}
	<div id="felicidades" class="agradecimiento">
		<span aria-hidden="true">C</span>
		Usted ya ingreso los indicadores dietéticos, a continuación los datos ingresados. 
		Puede continuar con el recorrido haciendo clic <a href="/frecuencia/">[Aquí]</a>
	</div>
	{% for p in perfilIndicadores %}
		<h3>Indicadores dietéticos ingresados</h3>
		<div id="indicadores">
				<p>Comidas al día: {{p.comidasAlDia}}</p>
				<p>Quien prepara la comida: {{p.quienPreparaAlimentos}}</p>
				<p>Come entre comidas: {{ p.comeEntreComidas|traducir_bool }}
				</p>
				<p>Qué come entre comidas: {{p.queComeEntreComidas}}</p>
				<p>Modifico su alimentación en el último año: {{p.modificadoAlimentacionReciente|traducir_bool}}</p>
				<p>Por qué modifico su alimentación: {{p.porqueModifico}}</p>
				<p>En que sentido lo modifico: {{p.comoModifico}}</p>
				<p>Apetito: {{p.comoSuApetito}}</p>
				<p>A que hora tiene más hambre: {{p.horaMasHambre}}</p>
				<p>Alimentos preferidos: {{p.alimentoPreferido}}</p>
				<p>Alimentos que le desagradan: {{p.alimentoDesagrado}}</p>
				<p>Es alergico a algún alimento: {{p.esAlergicoIntolerante|traducir_bool}}</p>
				<p>Cual alimento es alergico: {{p.cualAlimento}}</p>
				<p>Agrega sal a las comidas: {{p.salComidas|traducir_bool}}</p>
				<p>Utiliza suplementos: {{p.suplementoAlimenticio|traducir_bool}}</p>
				<p>Cuantas veces al día: {{p.cuantasVecesSuplemento}}</p>
				<p>Porque los utiliza: {{p.porqueSuplemento}}</p>
				<p>Su consumo varia cuando esta ansioso, triste o nervioso: {{p.consumoVariaEmocion|traducir_bool}}</p>
				<p>Cómo varia: {{p.comoVariaConsumo}}</p>
				<p>Ha realizado dietas: {{p.tieneDieta|traducir_bool}}</p>
				<p>Cuantas dietas: {{p.cuantasVecesDieta}}</p>	 
				<p>Tipo de dieta: {{p.tipoDieta}}</p>
				<p>Hace cuanto tiempo: {{p.tiempoDieta}}</p>
		</div>
	{% endfor %}
{% endif %}

{% endblock %}