{% extends "homepage/index.html" %}
{% block js %}
<script src="{{ MEDIA_URL }}js/adquiridos/jquery-1.8.1.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/propios/ipaq.js"></script>
{% endblock%}
{% block css %}<link rel="stylesheet" href=" {{ MEDIA_URL }}css/account/ipaq.css">{% endblock %}

{% block content %}
<div id="formularioIPAQ1">
<form action="" id='formulario' method='post' enctype='multipart/form-data'>
	{% csrf_token %}
    Actividad fisica en el trabajo
	<div class="preguntaCompleta" id="p1">
        <div class="pregunta">1. ¿Realiza usted actividades físicas vigorosas como levantar objetos pesados, excavar, construcción pesada, o subir escaleras como parte de su trabajo?</div>
     	<div class="siNo">
            <div class="seleccion">{{form.p2b_trabajo}}</div>
        </div>
        <div class="subpregunta" id="sp1">    
     		<div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p2a_trabajo }}</div>
    		<div class="pregunta">¿Cuánto tiempo le toma realizar estas actividades?</div>
     		<div class="respuesta">
                <div class="seleccionarHoras">{{form.p3a_trabajo}}</div>
                <p style="float:left;margin:0;">horas y</p>
     		    <div class="seleccionarMinutos">{{form.p3b_trabajo}}</div> minutos por dia.
            </div>
        </div>
    </div>

    <div class="preguntaCompleta" id="p2">
        <div class="pregunta">2. ¿Realiza usted actividades físicas moderadas como cargar cosas ligeras como parte de su trabajo?. No incluye caminar.</div>
        <div class="siNo">
            <div class="seleccion">{{form.p4b_trabajo}}</div>
        </div>
        <div class="subpregunta" id="sp2">    
            <div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p4a_trabajo }}</div>
            <div class="pregunta">¿Cuánto tiempo le toma realizar estas actividades?</div>
            <div class="respuesta">
                <div class="seleccionarHoras">{{form.p5a_trabajo}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p5b_trabajo}}</div> minutos por dia.
            </div>
        </div>
    </div>

    <div class="preguntaCompleta" id="p3">
        <div class="pregunta">3. ¿Camina usted por los menos 10 minutos continuos como parte de su trabajo? No incluya ninguna caminata que usted hizo para desplazarse a su trabajo.</div>
        <div class="siNo">
            <div class="seleccion">{{form.p6b_trabajo}}</div>
        </div>
        <div class="subpregunta" id="sp3">    
            <div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p6a_trabajo }}</div>
            <div class="pregunta">¿Cuánto tiempo le toma realizar estas actividades?</div>
            <div class="respuesta">
                <div class="seleccionarHoras">{{form.p7a_trabajo}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p7b_trabajo}}</div> minutos por dia.
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}