{% extends "homepage/index.html" %}
{% block js %}
<script src="{{ MEDIA_URL }}js/adquiridos/jquery-1.8.1.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/propios/ipaq.js"></script>
{% endblock%}
{% block css %}<link rel="stylesheet" href=" {{ MEDIA_URL }}css/account/ipaq.css">{% endblock %}

{% block content %}
<form action="" id='formulario' method='post' enctype='multipart/form-data'>
	{% csrf_token %}
    <div class="seccion" >Actividad fisica relacionada con en el trabajo</div></br>
	
	<div class="preguntaCompleta" id="p1">
        <div class="pregunta">1. ¿Realiza usted actividades físicas vigorosas como levantar objetos pesados, excavar, construcción pesada, o subir escaleras como parte de su trabajo?</div>
     	<div class="siNo">
            <div class="seleccion">{{form.p2b_trabajo}}</div>
        </div>
        <div class="subpregunta" id="sp1">    
     		<div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p2a_trabajo }}</div>
    		<div class="pregunta">¿Cuánto tiempo le toma realizar estas actividades diariamente?</div>
     		<div class="respuesta">
                <div class="seleccionarHoras">{{form.p3a_trabajo}}</div>
                <p style="float:left;margin:0;">horas y</p>
     		    <div class="seleccionarMinutos">{{form.p3b_trabajo}}</div> minutos por dia.
            </div>
        </div>
    </div>

    <div class="preguntaCompleta" id="p2">
        <div class="pregunta">2. ¿Realiza usted actividades físicas moderadas como cargar cosas ligeras como parte de su trabajo?. No incluye caminar.</div>
        <div class="siNo">
            <div class="seleccion">{{form.p4b_trabajo}}</div>
        </div>
        <div class="subpregunta" id="sp2">    
            <div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p4a_trabajo }}</div>
            <div class="pregunta">¿Cuánto tiempo le toma realizar estas actividades diariamente?</div>
            <div class="respuesta">
                <div class="seleccionarHoras">{{form.p5a_trabajo}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p5b_trabajo}}</div> minutos por dia.
            </div>
        </div>
    </div>

    <div class="preguntaCompleta" id="p3">
        <div class="pregunta">3. ¿Camina usted por los menos 10 minutos continuos como parte de su trabajo? No incluya ninguna caminata que usted hizo para desplazarse a su trabajo.</div>
        <div class="siNo">
            <div class="seleccion">{{form.p6b_trabajo}}</div>
        </div>
        <div class="subpregunta" id="sp3">    
            <div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p6a_trabajo }}</div>
            <div class="pregunta">¿Cuánto tiempo le toma realizar estas actividades diariamente?</div>
            <div class="respuesta">
                <div class="seleccionarHoras">{{form.p7a_trabajo}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p7b_trabajo}}</div> minutos por dia.
            </div>
        </div>
    </div>

	<div class="seccion"> Actividad fisica  relacionada con el transporte  </div></br>
	<div class="preguntaCompleta" id="p4">
        <div class="pregunta">4. Durante los últimos 7 dias, ¿Ha viajado usted en un vehículo de motor como un tren, bus, automóvil, o tranvía?</div>
        <div class="siNo">
            <div class="seleccion">{{form.p8b_transporte}}</div>
        </div>
        <div class="subpregunta" id="sp4">    
            <div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p8a_transporte }}</div>
            <div class="pregunta">¿Cuánto tiempo gastó usted en uno de esos dias viajando en un vehiculo de motor?</div>
            <div class="respuesta">
                <div class="seleccionarHoras">{{form.p9a_transporte}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p9b_transporte}}</div> minutos por dia.
            </div>
        </div>
    </div>	

	<div class="preguntaCompleta" id="p5">
        <div class="pregunta">5. Durante los últimos 7 dias, ¿Ha montado usted bicicleta por al menos 10 minutos continuos para ir de un lugar a otro?</div>
        <div class="siNo">
            <div class="seleccion">{{form.p10b_transporte}}</div>
        </div>
        <div class="subpregunta" id="sp5">    
            <div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p10a_transporte }}</div>
            <div class="pregunta">¿Cuánto tiempo gastó usted en uno de esos dias montando bicicleta de un lugar a otro?</div>
            <div class="respuesta">
                <div class="seleccionarHoras">{{form.p11a_transporte}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p11b_transporte}}</div> minutos por dia.
            </div>
        </div>
    </div>	

	<div class="preguntaCompleta" id="p6">
        <div class="pregunta">6. Durante los últimos 7 dias, ¿Ha caminado por al menos 10 minutos continuos para ir de un lugar a otro ?</div>
        <div class="siNo">
            <div class="seleccion">{{form.p12b_transporte}}</div>
        </div>
        <div class="subpregunta" id="sp6">    
            <div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p12a_transporte }}</div>
            <div class="pregunta">¿Cuánto tiempo gastó usted en uno de esos dias caminando de un lugar a otro?</div>
            <div class="respuesta">
                <div class="seleccionarHoras">{{form.p13a_transporte}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p13b_transporte}}</div> minutos por dia.
            </div>
        </div>
    </div>	

	<div class="seccion"> Actividad fisica  relacionada con el trabajo en la casa y su mantenimiento y el cuidado de la familia </div></br>
	<div class="preguntaCompleta" id="p7">
        <div class="pregunta">7. Durante los últimos 7 dias,¿Ha realizado usted actividades físicas vigorosas tal como levantar objetos pesados, cortar madera, palear nieve o arena, o excavar en el jatdín o patio?</div>
        <div class="siNo">
            <div class="seleccion">{{form.p14b_hogar}}</div>
        </div>
        <div class="subpregunta" id="sp7">    
            <div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p14a_hogar }}</div>
            <div class="pregunta">¿Cuánto tiempo gastó usted en uno de esos dias haciendo actividades físicas vigorosas en el jardín o patio?</div>
            <div class="respuesta">
                <div class="seleccionarHoras">{{form.p15a_hogar}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p15b_hogar}}</div> minutos por dia.
            </div>
        </div>
    </div>	
	
	<div class="preguntaCompleta" id="p8">
        <div class="pregunta">8. Durante los últimos 7 dias,¿Ha realizado usted actividades físicas moderadas en el jardín o patio tal como cargar objetos livianos, barrer, lavar ventanas, y rastrillar?</div>
        <div class="siNo">
            <div class="seleccion">{{form.p16b_hogar}}</div>
        </div>
        <div class="subpregunta" id="sp8">    
            <div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p16a_hogar }}</div>
            <div class="pregunta">¿Cuánto tiempo gastó usted en uno de esos dias haciendo actividades físicas moderadas?</div>
            <div class="respuesta">
                <div class="seleccionarHoras">{{form.p17a_hogar}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p17b_hogar}}</div> minutos por dia.
            </div>
        </div>
    </div>	


	
	<div class="preguntaCompleta" id="p9">
        <div class="pregunta">9. Durante los últimos 7 dias,¿Ha realizado usted actividades físicas moderadas dentro de su casa tal como cargar objetos livianos, lavar ventanas, restregar pisos y barrer dentro de su casa ?</div>
        <div class="siNo">
            <div class="seleccion">{{form.p18b_hogar}}</div>
        </div>
        <div class="subpregunta" id="sp9">    
            <div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p18a_hogar }}</div>
            <div class="pregunta">¿Cuánto tiempo gastó usted en uno de esos dias haciendo actividades físicas moderadas dentro de su casa?</div>
            <div class="respuesta">
                <div class="seleccionarHoras">{{form.p19a_hogar}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p19b_hogar}}</div> minutos por dia.
            </div>
        </div>
    </div>		
	
	<div class="seccion"> Actividades fisicas de recreación, deporte y tiempo libre</div></br>
	<div class="preguntaCompleta" id="p10">
        <div class="pregunta">10. Sin contar cualquier caminata que ya haya usted mencionado. Durante los últimos 7 dias,¿Ha caminado usted por lo menos 10 minutos continuos en su tiempo libre?</div>
        <div class="siNo">
            <div class="seleccion">{{form.p20b_recreacion}}</div>
        </div>
        <div class="subpregunta" id="sp10">    
            <div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p20a_recreacion }}</div>
            <div class="pregunta">¿Cuánto tiempo gastó usted en uno de esos dias caminando en su tiempo libre?</div>
            <div class="respuesta">
                <div class="seleccionarHoras">{{form.p21a_recreacion}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p21b_recreacion}}</div> minutos por dia.
            </div>
        </div>
    </div>
	
	<div class="preguntaCompleta" id="p11">
        <div class="pregunta">11. Durante los últimos 7 dias,¿Ha realizado usted actividades físicas vigorosas en su tiempo libre tal como aeróbicos, correr, pedalear rápido en bicicleta, o nadar rápido?</div>
        <div class="siNo">
            <div class="seleccion">{{form.p22b_recreacion}}</div>
        </div>
        <div class="subpregunta" id="sp11">    
            <div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p22a_recreacion }}</div>
            <div class="pregunta">¿Cuánto tiempo dedica usted en uno de esos días haciendo actividades físicas vigorosas en su tiempo libre?</div>
            <div class="respuesta">
                <div class="seleccionarHoras">{{form.p23a_recreacion}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p23b_recreacion}}</div> minutos por dia.
            </div>
        </div>
    </div>	

	<div class="preguntaCompleta" id="p12">
        <div class="pregunta">12. Durante los últimos 7 dias,¿Ha realizado usted actividades físicas moderadas en su tiempo libre tal como: padalear en bicicleta a paso regular, nada a paso regular, jugar dobles de tenis?</div>
        <div class="siNo">
            <div class="seleccion">{{form.p24b_recreacion}}</div>
        </div>
        <div class="subpregunta" id="sp12">    
            <div class="pregunta">¿Cuántos dias por semana?</div>
            <div class="seleccionarDias">{{ form.p24a_recreacion }}</div>
            <div class="pregunta">¿Cuánto tiempo dedica usted en uno de esos días haciendo actividades físicas vigorosas en su tiempo libre?</div>
            <div class="respuesta">
                <div class="seleccionarHoras">{{form.p25a_recreacion}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p25b_recreacion}}</div> minutos por dia.
            </div>
        </div>
    </div>	
	<div class="seccion"> Tiempo dedicado a estar sentado </div></br>
	<div class="preguntaCompleta" id="p13">
        <div class="pregunta">13. Durante los últimos 7 dias,¿Cúanto tiempo permanició sentado(a) en un día en la semana?</div>
        <div class="subpregunta" id="sp13">    
                <div class="seleccionarHoras">{{form.p26a_sentado}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p26b_sentado}}</div> minutos por dia.
		<div><p>  Durante los últimos 7 dias,¿Cúanto tiempo permanició sentado(a) en un día de fin de semana? </p> </div>
            <div class="respuesta"> 
                <div class="seleccionarHoras">{{form.p27a_sentado}}</div>
                <p style="float:left;margin:0;">horas y</p>
                <div class="seleccionarMinutos">{{form.p27b_sentado}}</div> minutos por dia.
            </div>
        </div>
    </div>
	<div class ="noDisplay">
        <select name="user" id="id_user">
            <option value="{{ id }}"></option>
        </select>
    </div>

	<input type="submit" value="Enviar" />
</form>
{% endblock %}