{% extends 'homepage/index.html' %}

{% block content %}
	{% if data.count > 0%}
	 {{ profile.user.get_full_name }}, usted ha completado el formulario de datos antropométricos {{data.count}} veces

	{% for d in data %}
	<div>Perfil del {{ d.fecha_creacion|date:"d/m/y" }} </div>
	<div>Peso: {{ d.peso }}</div>
	<div>Talla: {{ d.talla }}</div>
	<br>
	{% endfor%}
	{%else%}
	no tiene registros.
	{%endif%}
<a class="Antro" href="{% url account_datosAntropometricos %}">
	<div id="calculadoraDiv">LLENAR DATOS ATROPOMETRICOS</div></a>
{% endblock %}