{% extends 'homepage/index.html' %}
{% block title %}Perfil antropometrico{% endblock %}
{%load custom_filters%}
{% block css %}<link rel="stylesheet" href=" {{ MEDIA_URL }}css/account/antropometricos.css">{% endblock %}

{% block content %}
	<div class="fondo">
	{% if data|count_by_len > 0 %}<div class="haLlenado"><b>{{ profile.user.get_full_name|cap }}</b>, usted ha completado el formulario de datos antropométricos {{data|count_by_len}} {% if data|count_by_len == 1%}vez{%else%} veces{%endif%}</div>
	<table id="tablaId">
<tr><th scope="col">Fecha</th><th scope="col">Peso</th><th scope="col">Estatura</th><th scope="col">Circ. cintura</th><th scope="col">Circ. cadera</th><th scope="col" title="Grado de obesidad">Obesidad</th><th scope="col"title="Apreciación de su cintura">Cintura</th><th scope="col"title="Apreciación de su índice de adiposidad">Adiposidad</th><th scope="col">Cancer</th><th scope="col" title="trigliceridos">Trig.</th><th scope="col" title="Colesterol elevado">Colest.</th><th scope="col">Diabetes</th><th scope="col" title="Hipertencion">Hiper.</th></tr>
	{% for d in data %}
	<tr>
		<td>{{ d.fecha_creacion|date:"d M, Y" }}</td>
		<td>{{ d.peso|floatformat:0 }}</td>
		<td>{{ d.estatura|floatformat:0 }}</td>
		<td>{{ d.circunferencia_cintura|floatformat:0 }}</td>
		<td>{{ d.circunferencia_cadera|floatformat:0 }}</td>
		<td>{% if d.apreciacion_obesidad == "Normopeso" %}Normal{%else%}{{ d.apreciacion_obesidad }}{%endif%}</td>
		<td>{{ d.apreciacion_cintura }}</td>
		<td>{{ d.apreciacion_adiposidad }}</td>
		<td>{% if d.cancer %}Sí{% else %}No{% endif %}</td>
		<td>{% if d.trigliceridos %}Sí{% else %}No{% endif %}</td>
		<td>{% if d.colesterol %}Sí{% else %}No{% endif %}</td>
		<td>{% if d.diabetes %}Sí{% else %}No{% endif %}</td>
		<td>{% if d.hipertencion %}Sí{% else %}No{% endif %}</td>
	</tr>
	{% endfor%}
	</table>
	{%else%}
	Para comenzar a llenar su información antropométrica presione el siguiente boton.
	{%endif%}
	</div>
<a class="Antro" href="{% url account_datosAntropometricos %}">
	<div id="calculadoraDiv">LLENAR DATOS ATROPOMETRICOS</div></a>
{% endblock %}