{% extends 'homepage/index.html' %}
{% block title %}Perfil del usuario{% endblock %}
{% load humanize %}
{% load custom_filters %}
{% block css %}<link rel="stylesheet" href=" {{ MEDIA_URL }}css/account/perfil.css">
{% endblock %}
{% block content %}
	<div id="contenidoPerfil">
	<div class="mensajeBienvenida">
	Perfil de {{ user }}, Bienvenido 
	</div>
	
	<div class="fondoGeneral"> 
		<div class="divisorSeccion"> INFORMACIÓN GENERAL<div class="lineaDivisorSeccion"></div></div>
		<div class="generalIzquierda">
			<div class="lineaGeneral"><div class="labelGeneral">Nombre completo:</div><div class="contenidoGeneral">{{ user.get_full_name|cap }}</div></div>
			<div class="lineaGeneral"><div class="labelGeneral">Género:</div><div class="contenidoGeneral">{{ profile.get_genero_display }}</div></div>
			<div class="lineaGeneral"><div class="labelGeneral">Cédula:</div><div class="contenidoGeneral">{{ profile.cedula|floatformat:0|intcomma }}</div></div>
		</div>
		<div class="generalDerecha">
			<div class="lineaGeneral"><div class="labelGeneral">Fecha de nacimiento:</div><div class="contenidoGeneral">{{ profile.fecha_nacimiento }}</div></div>
			<div class="lineaGeneral"><div class="labelGeneral">País:</div><div class="contenidoGeneral">{{ profile.pais }}</div></div>
			<div class="lineaGeneral"><div class="labelGeneral">Estado:</div><div class="contenidoGeneral">{{ profile.municipio }}</div></div>
		</div>
	</div>
	{% if user|in_group:"profesional" or user|in_group:"profesional2" or user.is_superuser %}
	<div class="fondoGeneral"> 
		<div class="divisorSeccion">PROFESIONALES <div class="lineaDivisorSeccion"></div>
		</div>
		<div id="botonesProfesional">
			<a href="{% url nutricionista_perfilUsuarios %}">
				<div class="botonProfesional">
				<p>Lista de pacientes</p>
				<img src="{{ MEDIA_URL }}img/user-icon.png" alt="listapacientes">
				</div>
			</a>
			<a href="{% url nuevoArticulo %}">
				<div class="botonProfesional">
				<p>Nueva publicación</p>
				<img src="{{ MEDIA_URL }}img/Add-Folder-icon.png" alt="crearpublicacion">
				</div>
			</a>
			{% if user|in_group:"profesional2" or user.is_superuser %}
			<a href="{% url nutricionista_peticiones %}">
				<div class="botonProfesional">
				<p>Ver solicitudes</p>
				<img src="{{ MEDIA_URL }}img/icono_medico.png" alt="paciente">
				</div>
			</a>
        	{% endif %}
		</div>
	</div>
	{% endif %}	
	<div class="fondoActividad"> 
		<div class="divisorSeccion"> ACTIVIDAD EN LA PÁGINA
			<div class="lineaDivisorSeccion">
			</div>
		</div>
		{% if antropometrico.0 %}
		<div class="lineaTitulo"><div class="tituloActividad">Datos antropométricos</div><div class="enlaceActividad"><a href="{% url account_perfilAntropometrico %}">[ VER HISTORIAL COMPLETO ]</a></div>
			<div class="lineaActividad"><div class="labelActividad">Veces que lo ha completado:</div><div class="contenidoGeneral">{% if antropometrico %}{{ antropometrico|count_by_len }}{% else %}0{% endif %}</div></div>
			<div class="lineaActividad"><div class="labelActividad">Su último diagnóstico fue:</div><div class="contenidoGeneral">{% if antropometrico %}{{ antropometrico.0.apreciacion_obesidad }}{% else %}No hay resultados{% endif %}</div></div>
		</div><a href="{% url account_datosAntropometricos %}"><div class="botonLlenar"> <div class="textoBoton">LLENAR DATOS ANTROPOMETRICOS</div></div></a>

		<div class="lineaTitulo"><div class="tituloActividad">Frecuencia de consumo</div><div class="enlaceActividad">
		{% if frecuencia %}{% if frecuencia.0.progreso|get_int == 9 %}[ COMPLETADO ]{% else %}<a href="{% url account_frecuencia %}">[ COMPLETAR ]</a>{% endif %}{% else %}<a href="{% url account_frecuencia %}">[ INICIAR ]</a>{% endif %}
		</div>
			<div class="lineaActividad"><div class="labelActividad">Progreso:</div><div class="contenidoGeneral">{% if frecuencia %}
			{% if frecuencia.0.progreso|get_int == 9 %}100%{% else %}{{ frecuencia.0.progreso }}0%{% endif %}{% else %}0%{% endif %}</div></div>
			<div class="lineaActividad"><div class="contenidoGeneral"> *Le recomendamos completar su frecuencia nutricional </div></div>
		</div><a href="{% url account_frecuencia %}"><div class="botonLlenar"><div class="textoBoton">LLENAR FRECUENCIA DE CONSUMO</div></div></a>
		
		<div class="lineaTitulo"><div class="tituloActividad">Cuestionario de actividad física (IPAQ)</div><div class="enlaceActividad"></div>
			<div class="lineaActividad"><div class="labelActividad">Veces que lo ha completado:</div><div class="contenidoGeneral">{% if ipaq %}{{ ipaq|count_by_len }}{% else %}0{% endif %}</div></div>
			<div class="lineaActividad"><div class="labelActividad">Último resultado obtenido:</div><div class="contenidoGeneral">{% if ipaq %}{{ ipaq.0.apreciacionIpaq }}{% else %}No hay resultados{% endif %}</div></div>
		</div><a href="{% url account_ipaq %}"><div class="botonLlenar"> <div class="textoBoton">LLENAR IPAQ</div></div></a>
	
		<div class="lineaTitulo"><div class="tituloActividad">Mis indicadores dietéticos</div><div class="enlaceActividad"><a href="{% url account_indicadoresDieteticos %}">[DATOS DE LOS INDICADORES]</a></div>
			<div class="lineaActividad"><div class="labelActividad">¿Usted completo los indicadores?:</div><div class="contenidoGeneral"> {% if indicadores %} Si {%else%} No {%endif%}</div></div>
		</div><a href="{% url account_indicadoresDieteticos %}"><div class="botonLlenar"> <div class="textoBoton">LLENAR LOS INDICADORES DIETÉTICOS</div></div></a>

		<div class="lineaTitulo lineaTituloUltimo"><div class="tituloActividad">Mi recordatorio de 24 horas</div><div class="enlaceActividad"><a href="{% url account_recordatorio %}">[DATOS DEL RECORDATORIO]</a></div>
			<div class="lineaActividad"><div class="labelActividad">Veces que lo ha completado:</div><div class="contenidoGeneral">{% if recordatorios %}{{ recordatorios|count_by_len }}{% else %}0{% endif %}</div></div>
		</div><a href="{% url account_recordatorio %}"><div class="botonLlenar"> <div class="textoBoton">LLENAR EL RECORDATORIO 24</div></div></a>

		{% else %}
		<div id="botonBonito">
 			<a href="{% url account_datosAntropometricos %}" class="a-btn">
 				<span class="a-btn-text">Evaluación nutricional</span>
 				<span class="a-btn-slide-text">COMENZAR</span>
 				<span class="a-btn-icon-right"><span></span>
 				</span>

 			</a>
 		</div>
		{% endif %}
	</div>
</div>

{% endblock %}