{% extends "homepage/index.html" %}
{% block title %}Recordatorio 24 horas{% endblock %}
{% block js %}
<script src="{{ MEDIA_URL }}js/adquiridos/jquery-1.8.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/adquiridos/jquery.mask.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/adquiridos/teclaEnter.js"></script>
<script src="{{ MEDIA_URL }}js/propios/recordatorio24.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}pluggins/jquery-ui-1.9.0.custom/js/jquery-ui-1.9.0.custom.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}pluggins/jquery-ui-1.9.0.custom/development-bundle/ui/jquery.ui.timepicker.js" />"></script>
{% endblock%}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/account/recordatorio.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}pluggins/jquery-ui-1.9.0.custom/development-bundle/ui/jquery.ui.timepicker.css">
<link rel="stylesheet"href="{{ MEDIA_URL }}pluggins/jquery-ui-1.9.0.custom/css/ui-lightness/jquery-ui-1.9.0.custom.min.css">

{% endblock %}

{% block content %}
<h2>Recordatorio 24 horas</h2>
<h4>La siguiente encuesta debe llenarse cuidadosamente, lo ideal es que coloque lo consumido habitaulmente en cada una de las comidas.</h4>
	<form action="." method="POST" id="form1">
		{% csrf_token %}
		<input type="hidden" id="user_id" name="user" value="{{ id }}" />
		<div id="recordatorioForm">
			<div id="desayuno"><h3>Desayuno</h3>
			<div class="campoForm">
				{{ form.horaDesayuno.errors }}
				<label for="id_horaDesayuno">¿A qué hora desayuna?: </label>
				{{ form.horaDesayuno }}
			</div>
			<div class="campoForm">
				{{ form.diasDesayuno.errors }}
				<label for="id_diasDesayuno">¿Cuántos días a la semana?: </label>
				{{ form.diasDesayuno }}
			</div>
			<div class="campoForm">Tamaño de la porción que come:  
				<div id="tamanos">
					<input type="radio" value="p" name="porcion-desayuno">
					<label class="tama" for="p">Pequeño</label>
					<input type="radio" value="m" name="porcion-desayuno" checked>
					<label class="tama" for="m">Mediano</label>
					<input type="radio" value="g" name="porcion-desayuno">
					<label class="tama" for="g">Grande</label>
				</div>
			</div>
			<div class="campoForm">
				<label>Buscar alimentos:</label>
				<input list="alimentosD" name="alimento" id="input1" id_a="">
				<datalist id="alimentosD">
					{% for a in alimentos%}
					<option id_a="{{a.id}}" value="{{a.nombre}}">{{a.id}}</OPTION>
					{% endfor %}
				</datalist>
				<label for="id_selCombo1">Alimentos consumidos en el desayuno</label>
				<div class="botonGroup">
					<input id="botonAgregar1" type="button" value="+" class="botonVerde">
					<input id="botonRemover1" type="button" value="-" class="botonRojo">
				</div>
				<SELECT id="selCombo1" multiple="multiple" name="selCombo1" SIZE="5" >
				</SELECT>
			</div> 
			</div>
			<!-- MERIENDA 1 -->
			<hr>
			<div id="merienda1"><h3>Primera merienda</h3>
			<div class="campoForm">
				{{ form.horaMerienda1.errors }}
				<label for="id_horaMerienda1">¿A qué hora merienda (de mañana)?: </label>
				{{ form.horaMerienda1 }}
			</div>
			<div class="campoForm">
				{{ form.diasMerienda1.errors }}
				<label for="id_diasMerienda1">¿Cuántos días a la semana?: </label>
				{{ form.diasMerienda1 }}
			</div>
			<div class="campoForm">Tamaño de la porción:  
				<div id="tamanos">
					<input type="radio" value="p" name="porcion-merienda1">
					<label class="tama" for="p">Pequeño</label>
					<input type="radio" value="m" name="porcion-merienda1" checked>
					<label class="tama" for="m">Mediano</label>
					<input type="radio" value="g" name="porcion-merienda1">
					<label class="tama" for="g">Grande</label>
				</div>
			</div>
			<div class="campoForm">
			<label>Buscar alimentos:</label>
			<input list="alimentosM1" name="alimento" id="input2" id_a="">
			<datalist id="alimentosM1">
				{% for a in alimentos%}
				<option id_a="{{a.id}}" value="{{a.nombre}}">{{a.id}}</OPTION>
				{% endfor %}
			</datalist>
			<label>Alimentos consumidos entre el desayuno y el almuerzo</label>
			<div class="botonGroup">
				<input id="botonAgregar2" type="button" value="+" class="botonVerde">
				<input id="botonRemover2" type="button" value="-" class="botonRojo">
			</div>
			<SELECT id="selCombo2" multiple="multiple" name="selCombo2" SIZE="5"></SELECT>
			</div>
			</div> 
			<!-- ALMUERZO -->
			<hr>
			<div id="almuerzo"><h3>Almuerzo</h3>
			<div class="campoForm">
				{{ form.horaAlmuerzo.errors }}
				<label for="id_horaAlmuerzo">¿A qué hora almuerza?: </label>
				{{ form.horaAlmuerzo }}
			</div>
			<div class="campoForm">
				{{ form.diasAlmuerzo.errors }}
				<label for="id_diasAlmuerzo">¿Cuántos días a la semana?: </label>
				{{ form.diasAlmuerzo }}
			</div>
			<div class="campoForm">Tamaño de la porción:  
				<div id="tamanos">
					<input type="radio" value="p" name="porcion-almuerzo">
					<label class="tama" for="p">Pequeño</label>
					<input type="radio" value="m" name="porcion-almuerzo" checked>
					<label class="tama" for="m">Mediano</label>
					<input type="radio" value="g" name="porcion-almuerzo">
					<label class="tama" for="g">Grande</label>
				</div>
			</div>
			<div class="campoForm">
			<label>Buscar alimentos:</label>
			<input list="alimentosA" name="alimento" id="input3">
			<datalist id="alimentosA">
				{% for a in alimentos%}
				<option id_a="{{a.id}}" value="{{a.nombre}}">{{a.id}}</OPTION>
				{% endfor %}
			</datalist>
			<label>Alimentos consumidos en el almuerzo</label>
			<div class="botonGroup">
				<input id="botonAgregar3" type="button" value="+" class="botonVerde">
				<input id="botonRemover3" type="button" value="-" class="botonRojo">
			</div>
			<SELECT id="selCombo3" multiple="multiple" NAME="selCombo3" SIZE="5"> 
			</SELECT>
			</div>
			</div> 
			<!-- MERIENDA 2 -->
			<hr>
			<div id="merienda2"><h3>Segunda merienda</h3>
			<div class="campoForm">
				{{ form.horaMerienda2.errors }}
				<label for="id_horaMerienda2">¿A qué hora merienda (de tarde)?:</label>
				{{ form.horaMerienda2 }}
			</div>
			<div class="campoForm">
				{{ form.diasMerienda2.errors }}
				<label for="id_diasMerienda2">¿Cuántos días a la semana?:</label>
				{{ form.diasMerienda2 }}
			</div>
			<div class="campoForm">Tamaño de la porción:  
				<div id="tamanos">
					<input type="radio" value="p" name="porcion-merienda2">
					<label class="tama" for="p">Pequeño</label>
					<input type="radio" value="m" name="porcion-merienda2" checked>
					<label class="tama" for="m">Mediano</label>
					<input type="radio" value="g" name="porcion-merienda2">
					<label class="tama" for="g">Grande</label>
				</div>
			</div>
			<div class="campoForm">
			<label>Buscar alimentos:</label>
			<input list="alimentosM2" name="alimento" id="input4">
			<datalist id="alimentosM2">
				{% for a in alimentos%}
				<option id_a="{{a.id}}" value="{{a.nombre}}">{{a.id}}</OPTION>
				{% endfor %}
			</datalist>
			<label>Alimentos consumidos entre el almuerzo y la cena</label>
			<div class="botonGroup">
				<input id="botonAgregar4" type="button" value="+" class="botonVerde">
				<input id="botonRemover4" type="button" value="-" class="botonRojo">
			</div>
			<SELECT id="selCombo4" multiple="multiple" NAME="selCombo4" SIZE="5"> 
			</SELECT>
			</div>
			</div> 
			<!-- CENA -->
			<hr>
			<div id="cena"><h3>Cena</h3>
			<div class="campoForm">
				{{ form.horaCena.errors }}
				<label for="id_horacena">¿A qué hora cena?:</label>
				{{ form.horaCena }}
			</div>
			<div class="campoForm">
				{{ form.diasCena.errors }}
				<label for="id_diascena">¿Cuántos días a la semana?:</label>
				{{ form.diasCena }}
			</div>	
			<div class="campoForm">Tamaño de la porción:  
				<div id="tamanos">
					<input type="radio" value="p" name="porcion-cena">
					<label class="tama" for="p">Pequeño</label>
					<input type="radio" value="m" name="porcion-cena" checked>
					<label class="tama" for="m">Mediano</label>
					<input type="radio" value="g" name="porcion-cena">
					<label class="tama" for="g">Grande</label>
				</div>
			</div>
			<div class="campoForm">
				<label>Buscar alimentos:</label>
				<input list="alimentosC" name="alimento" id="input5">
				<datalist id="alimentosC">
					{% for a in alimentos%}
					<option id_a="{{a.id}}" value="{{a.nombre}}">{{a.id}}</OPTION>
					{% endfor %}
				</datalist>
				<label>Alimentos consumidos en la cena</label>
				<div class="botonGroup">
					<input id="botonAgregar5" type="button" value="+" class="botonVerde">
					<input id="botonRemover5" type="button" value="-" class="botonRojo">
				</div>
				<SELECT id="selCombo5" multiple="multiple" NAME="selCombo5" SIZE="5"> 
				</SELECT>
			</div> 
			</div>
			<!-- MERIENDA 3 -->
			<hr>
			<div id="merienda3"><h3>Tercera merienda</h3>
			<div class="campoForm">
				{{ form.horaMerienda3.errors }}
				<label for="id_horaMerienda3">¿A qué hora merienda (de noche)?:</label>
				{{ form.horaMerienda3 }}
			</div>
			<div class="campoForm">
				{{ form.diasMerienda3.errors }}
				<label for="id_diasMerienda3">¿Cuántos días a la semana?: </label>
				{{ form.diasMerienda3 }}
			</div>	
			<div class="campoForm">Tamaño de la porción:  
				<div id="tamanos">
					<input type="radio" value="p" name="porcion-merienda3">
					<label class="tama" for="p">Pequeño</label>
					<input type="radio" value="m" name="porcion-merienda3" checked>
					<label class="tama" for="m">Mediano</label>
					<input type="radio" value="g" name="porcion-merienda3">
					<label class="tama" for="g">Grande</label>
				</div>
			</div>
			<div class="campoForm">
				<label>Buscar alimentos:</label>
				<input list="alimentosM3" name="alimento" id="input6">
				<datalist id="alimentosM3">
					{% for a in alimentos%}
					<option id_a="{{a.id}}" value="{{a.nombre}}">{{a.id}}</OPTION>
					{% endfor %}
				</datalist>
				<label>Alimentos consumidos después de la cena</label>
				<div class="botonGroup">
					<input id="botonAgregar6" type="button" value="+" class="botonVerde">
					<input id="botonRemover6" type="button" value="-" class="botonRojo">
				</div>
				<SELECT id="selCombo6" multiple="multiple" NAME="selCombo6" SIZE="5"> 
				</SELECT>
				</div> 
			</div>
		</div>
		{{ form.errors }}
		{{ form.non_field_errors }}
		<input type="submit" value="Cargar" id="botonRecordar">
	</form>
{% endblock %}