{% extends "homepage/index.html" %}
{% block js %}
<script src="{{ MEDIA_URL }}js/adquiridos/jquery-1.8.1.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/propios/recordatorio24.js"></script>
{% endblock%}
{% block content %}
	<form action="." method="POST">
		{% csrf_token %}
		<div id="recordatorioForm" class="campoForm">
			{{ form.as_p }}
			<div id="desayuno"><p>Desayuno</p>
			<input list="alimentos" name="alimento" id="input1">
			<datalist id="alimentos">
				{% for a in alimentos%}
				<OPTION value="{{a.nombre}}">{{a.id}}</OPTION>
				{% endfor %}
			</datalist>
			<div class="botonsito" id="botonDer1" style="float:left;"> + </div>
			<SELECT id="selCombo1" NAME="selCombo" SIZE="5" style="width: 150px;float: left;"></SELECT>
			</div> 

			<div id="merienda1"><p>Primera merienda</p>
			<input list="alimentos" name="alimento">
			<datalist id="alimentos">
				{% for a in alimentos%}
				<OPTION value="{{ a.nombre }}" ></OPTION>
				{% endfor %}
			</datalist>
			<input type="button" value=">>" class="botonsito">
			<input type="button" value="<<" class="botonsito">
			<SELECT id="selCombo" NAME="selCombo" SIZE="5"> 
					<OPTION value="{{a.calorias}}" ><p>{{ a.nombre }}</p></OPTION>
			</SELECT>
			</div> 

			<div id="almuerzo"><p>Almuerzo</p>
			<input list="alimentos" name="alimento">
			<datalist id="alimentos">
				{% for a in alimentos%}
				<OPTION value="{{ a.nombre }}" ></OPTION>
				{% endfor %}
			</datalist>
			<input type="button" value=">>" class="botonsito">
			<input type="button" value="<<" class="botonsito">
			<SELECT id="selCombo" NAME="selCombo" SIZE="5"> 
					<OPTION value="{{a.calorias}}" ><p>{{ a.nombre }}</p></OPTION>
			</SELECT>
			</div> 

			<div id="merienda2"><p>Segunda merienda</p>
			<input list="alimentos" name="alimento">
			<datalist id="alimentos">
				{% for a in alimentos%}
				<OPTION value="{{ a.nombre }}" ></OPTION>
				{% endfor %}
			</datalist>
			<input type="button" value=">>" class="botonsito">
			<input type="button" value="<<" class="botonsito">
			<SELECT id="selCombo" NAME="selCombo" SIZE="5"> 
					<OPTION value="{{a.calorias}}" ><p>{{ a.nombre }}</p></OPTION>
			</SELECT>
			</div> 

			<div id="cena"><p>Cena</p>
			<input list="alimentos" name="alimento">
			<datalist id="alimentos">
				{% for a in alimentos%}
				<OPTION value="{{ a.nombre }}" ></OPTION>
				{% endfor %}
			</datalist>
			<input type="button" value=">>" class="botonsito">
			<input type="button" value="<<" class="botonsito">
			<SELECT id="selCombo" NAME="selCombo" SIZE="5"> 
					<OPTION value="{{a.calorias}}" ><p>{{ a.nombre }}</p></OPTION>
			</SELECT>
			</div> 

			<div id="merienda3"><p>Tercera merienda</p>
			<input list="alimentos" name="alimento">
			<datalist id="alimentos">
				{% for a in alimentos%}
				<OPTION value="{{ a.nombre }}" ></OPTION>
				{% endfor %}
			</datalist>
			<input type="button" value=">>" class="botonsito">
			<input type="button" value="<<" class="botonsito">
			<SELECT id="selCombo" NAME="selCombo" SIZE="5"> 
					<OPTION value="{{a.calorias}}" ><p>{{ a.nombre }}</p></OPTION>
			</SELECT>
			</div> 
		</div>
		<input type="submit" value="Cargar" id="botonRecordar">
	</form>
{% endblock %}