{% extends "homepage/index.html" %}
{% block title %}Registro de usuario{% endblock %}
{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/account/registro.css">
<link rel="stylesheet"href="{{ MEDIA_URL }}pluggins/jquery-ui-1.9.0.custom/css/ui-lightness/jquery-ui-1.9.0.custom.min.css">
{% endblock %}
{% block js %}
<script src="{{ MEDIA_URL }}pluggins/jquery-ui-1.9.0.custom/js/jquery-1.8.2.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}pluggins/jquery-ui-1.9.0.custom/js/jquery-ui-1.9.0.custom.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}pluggins/jquery-ui-1.9.0.custom/development-bundle/ui/minified/i18n/jquery.ui.datepicker-es.min.js" />"></script>
<script src="{{ MEDIA_URL }}js/propios/dates.js"></script>
<script type="text/javascript"	src="{{ MEDIA_URL }}js/propios/registroestados.js"></script>
{% endblock%}
{% block content %}
<h2>Registro de nuevo usuario</h2>
	<form id="formulario" action="." method="POST">
		{% csrf_token %}
		<div id="usernameForm" class="campoForm">
			{{ form.as_p }}
		</div>
		<input type="hidden" id="id_venezuela" class="idEstado" value="25" name="venezuela">
		<div id="botonFinalizar">
			<input type="submit" value="Registrarme" id="botonregistro">
		</div>
	</form>
{% endblock %}