{% extends "homepage/index.html" %}
{% block title %}Petición de profesional{% endblock %}
{% block js %}
<script src="{{ MEDIA_URL }}js/adquiridos/jquery-1.8.1.min.js" type="text/javascript">
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/adquiridos/jquery.mask.min.js"></script>
{% endblock %}
{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/account/profesional.css">
{% endblock %}
{% block content %}
<h2>Formulario para la petición del permiso de publicación</h2>
<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
	<div class="centrar">
		<div class="mensaje"> Estimado {{ nombre|capfirst }}, Complete el siguiente formulario para procesar su peticion</div>
		<div class="pregunta">
			<div class="label">Profesion </div>
			<div class="campo">{{ form.profesion }} </div>
		</div>
		<div class="pregunta">
			<div class="label">Egresado de  </div>
			<div class="campo">{{ form.universidad }} </div>
		</div>
		<div class="pregunta">
			<div class="label">Institucion a la que pertenece  </div>
			<div class="campo">{{ form.trabajo }} </div>	
		</div>
		<div class="pregunta">
			<div class="label">Telefono de contacto  </div>
			<div class="campo">{{ form.telefono }} </div>
		</div>	
		<div class="pregunta">
		<div class="">Comentario  </div>
		<div class="campo">{{ form.comentario }} </div>	
		</div>
		<div class="escondido">{{ form.status }}</div>	
        	<div class="noDisplayDiv">
        <select name="user" id="id_user">
            <option value="{{ id }}"></option>
        </select>
    </div>
							
		<input type="submit" value="Enviar peticion">
	</form>
</div>
<script type="text/javascript">
	$("#id_telefono").mask('(9999) 999-9999');
</script>
{% endblock %}