{% extends "homepage/index.html" %}
{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/account/profesional.css">
{% endblock %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
	<div class="centrar">
		<div class="mensaje"> Estimado {{ nombre|capfirst }}, Complete el siguiente formulario para procesar su peticion</div>
		<div class="pregunta">
			<div class="label">Profesion </div>
			<div class="campo">{{ form.profesion }} </div>
		</div>
		<div class="pregunta">
			<div class="label">Egresado de  </div>
			<div class="campo">{{ form.universidad }} </div>
		</div>
		<div class="pregunta">
			<div class="label">Institucion a la que pertenece  </div>
			<div class="campo">{{ form.trabajo }} </div>	
		</div>
		<div class="pregunta">
			<div class="label">Telefono de contacto  </div>
			<div class="campo">{{ form.telefono }} </div>
		</div>	
		<div class="">Comentario  </div>
		<div class="campo">{{ form.comentario }} </div>	
		<div class="escondido">{{ form.status }}</div>	
        	<div class="noDisplayDiv">
        <select name="user" id="id_user">
            <option value="{{ id }}"></option>
        </select>
    </div>
							
		<input type="submit" value="Enviar peticion">
	</form>
</div>
{% endblock %}