.noDisplayDiv{
	display:none;
}
/*FORMULARIO*/
.medidaIndicar{
	float: left;
}
.campoForm{
	float: left;
	width: 220px;
	margin-left: 60px;
	margin-top: 10px;
}
.labelCampo{
	float: left;
}
.contenedorOpciones{
	margin-left: 25%;
	float: left;
	width: 430px;
	height: 300px;
}
#submit{
	float: left;
	margin: 0;
	padding: 0;
	margin-left: -100px;
	margin-top: 50px;
}

/*VISTA PACIENTE*/
.fondo{
	float: left;
	margin-left: 150px;
	width: 660px;
}
.haLlenado{
	float: left;
	margin-bottom: 15px;
}
.perfilN{
	float: left;
	margin-left: 40px;
	margin-bottom: 15px;
	width: 175px;
}
.masInformacion{

}
