.frecuencia{
	float:left;
	width: 136px;
}
.porcion{
	word-spacing: 7px;
	float:left;
	width: 65px;
}
.media{
	float:left;
	width: 100px;
	text-align:center;
}
.texto{
	float: left;
	width: 500px;
}
.porcion ul{
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100px;
}
.porcion li{
	float: left;
	width: 20px;
}
.pregunta{
	width: 810px;
	height: 40px;
}
.noDisplayDiv{
	display:none;
}
.textoPregunta{
	float: left;
	width: 490px;
	height: 40px;
}