select:focus{
    outline: none;
}
.seleccion, .seleccion li{
	float: left;
}
.seleccion ul{
	list-style: none;
	margin: 0;
}
#pregunta1{
	float: left;
}
#subpregunta1{
	float: left;
	clear: both;
	margin-top:10px;
}
.pregunta{
	float:left;
	clear: both;
}
.respuesta{
	float:left;
}
.seleccionarDias{
	float:left;
	margin-left: 6px;
	margin-right: 6px;
}
.seleccionarHoras{
	float:left;
	margin-left: 6px;
	margin-right: 6px;
}
.seleccionarMinutos{
	float:left;
	margin-left: 6px;
	margin-right: 6px;
}
.noDiplayDiv{
	display:none;
}