
form#formulario{
	height: 920px;
}

select:focus{
    outline: none;
}
.seleccion, .seleccion li{
	float: left;
}
.seleccion ul{
	height: 20px;
	width: 100px;
	padding: 0;
	margin: 0;
	list-style: none;
}
.siNo{
	height: 20px;
	width: 100px;
	clear: both;
	float: left;
}
.preguntaCompleta{
	margin-bottom: 40px;
}
.subpregunta{
	overflow: hidden;
	float: left;
	clear: both;
	margin-top:2px;
	margin-bottom: 20px;
	background-color:#E6E6E6;
	-webkit-transition: height 0.5s;
	-webkit-transition-timing-function: linear;
}
.pregunta{
	float:left;
	clear: both;
}
.respuesta{
	float:left;
}
.seleccionarDias{
	float:left;
	margin-left: 6px;
	margin-right: 6px;
}
.seleccionarHoras{
	float:left;
	margin-left: 6px;
	margin-right: 6px;
}
.seleccionarMinutos{
	float:left;
	margin-left: 6px;
	margin-right: 6px;
}
.noDiplayDiv{
	display:none;
}

.seccion{
	clear: both;
	float: left;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.boton{
	position:relative;
}

.noDisplay{
	display:none;
}