#contenido{
	text-align: center;
	display: inline-block;
	margin-bottom: -2px;
}


#contenido{
	border: 1.7px solid #CCC;
	background: whiteSmoke;
	padding: 10px;
	width: 350px;
	height: 480px;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em; 
	position: relative;
	left: 10px;
	margin:0px;	
}

#contenido input, textarea{
	border: 1px solid #AAA;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

iframe{
	position: absolute;
	top: 25px;
	left: 500px;
	margin: 0;
}

