
section{
   height: 470px;
   text-align: center;
}


.Item{
   position: relative;
   float: left;
   width: 1000px;
   margin-bottom: 10px;}
   
.pregunta{
   position: relative;
   float: left;
   left:150px;
   width: 300px;
   height: 45px;
   text-align:left;
    

}
.frecuencia{
   position: relative;
   left:250px;
   float: left;
   width: 150px;
   height: 45px;

}
.tamano{
   position: relative;
   left:285px;
   float: left;
   width: 120px;
   height: 45px;
 
}
