{% extends 'homepage/index.html' %}
{% block title %}Peticiones de publicador{% endblock %}
{% load custom_filters %}
{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/nutricionista/busqueda.css">{% endblock %}
{% block content %}
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/adquiridos/jquery-1.8.1.min.js"></script>
<script src="{{ MEDIA_URL }}js/propios/busqueda.js"></script>
<div class="cuadroBuscar">
<form action="" id="formulario" method="post" enctype="multipart/form-data">
	{% csrf_token %}	
<div class="lupa"></div><div class="titulo"> Busqueda Avanzada de pacientes </div>	
<div class="tabla">	
<div class ="fondo1">
	 <div class="item_busqueda">
		<div class="label"> GÉNERO </div> 
		<div class="valor">{{form.genero}}</div>	
	</div>
 <div class="item_busqueda">
		<div class="label"> PAÍS </div> 
		<div class="valor">{{ form.pais }}</div>
	</div>
	<div class="item_busqueda">
		<div class="label"> OBESIDAD </div> 
		<div class="valor">{{ form.obesidad }}</div>
	</div>	
	<div class="item_busqueda">
		<div class="label"> ACTIVIDAD FÍSICA </div> 
		<div class="valor">{{ form.actividadFisica }}</div>
	</div>	
</div>
	<div class="fondo2">	
	<div class="item_busqueda"  id="i2">
		<div class="" id="l2"> EDAD </div> 
		<div class="desde" >Desde</div><div class="desdeCaja">{{ form.edadDesde }}</div>
		<div class="hasta" >Hasta</div><div class="hastaCaja">{{ form.edadHasta }}</div>
	</div>
	<div class="item_busqueda"  id="i2">
		<div class="" id="l2"> TALLA </div> 
		<div class="desde" >Desde</div><div class="desdeCaja">{{ form.tallaDesde }}</div>
		<div class="hasta" >Hasta</div><div class="hastaCaja">{{ form.tallaHasta }}</div>
	</div>	
	<div class="item_busqueda"  id="i2">
		<div class="" id="l2"> PESO </div> 
		<div class="desde">Desde</div><div class="desdeCaja">{{ form.pesoDesde }}</div>
		<div class="hasta">Hasta</div><div class="hastaCaja">{{ form.pesoHasta }}</div>
	</div>
</div>

</div>
						
<input id="boton" type="submit" value="Buscar">
</form>
</div>
{% if bandera %}
<div id="personas_encontradas"> Se han encontrado ({{cuenta}}) pacientes 
{% if cuenta > 0 %}	
	<a href="{% url nutricionista_perfilUsuarios %}">[ver pacientes] </a>
{% endif %}	
</div>
<div class="cuadro">
<div class="boton fix" id="link1"> Descargar informacion antropométrica </div>
<div class= "boton fix" id="link2"> Descargar IPAQ </div>
<div id="link3"></div>
</div>

{% endif %}
{% endblock %}