{% extends 'homepage/index.html' %}
{% load custom_filters %}
{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/nutricionista/perfilUsuarios.css">{% endblock %}
{% block content %}
{% if usuario %}
	{% if nombre.count > 2 %}
		<div class="linea" style="margin-top:5px;outline:1px solid lightgray;">
			<div class="nombrePaciente" style="outline:1px solid lightgray;">Nombre</div>
			<div class="edadPaciente" style="outline:1px solid lightgray;">Edad</div>
			<div class="generoPaciente" style="outline:1px solid lightgray;">Género</div>
		</div>
		{% for n in nombre %}
		<div class="linea">
			<div class="nombrePaciente">
				<a href="?user={{ n.id }}">{{ n.get_full_name }}</a>
			</div>
			<div class="edadPaciente"> {{ usuario|au_getFechaNaciemiento:n.id|calculate_age }} </div>
			<div class="generoPaciente">
				{% if usuario|au_getGenero:n.id == "m" %}
				Masculino
				{% elif usuario|au_getGenero:n.id == "f" %}
				Femenino
				{% else %}
				Otro
				{% endif %}
			</div>
		</div>
		{% endfor %}
	{% else %}
		{% if tipo|get_int == 0 %}
			{% for n in nombre %}
			<div id="titulo"> Datos generales del paciente </div>
			<div class = "cuadrar">
			<br />
				<div class= "cuadro_paciente">  
						<div class="dato" >Nombre: {{n.get_full_name|cap }} </div>
						<div class="dato" >Edad: {{ usuario|au_getFechaNaciemiento:n.id|calculate_age }} </div>
						<div class="dato" >Cedula:{{ usuario|au_getCedula:n.id}} </div>
						<div class="dato" >Género: 
								{% if usuario|au_getGenero:n.id == "m" %}
									Masculino
								{% elif usuario|au_getGenero:n.id == "f" %}
									Femenino
								{% else %}
									Otro
								{% endif %}
						</div>                                    
				</div>
			</div>
			<div class="opcionResultado">Resultados del paciente</div>
			   <ul class="resultados"> 
				<li><a href="?user={{ n.id }}&p=1"><div class="opcionResultado">Antropométricos</div></a></li>
				<li><a href="?user={{ n.id }}&p=2"><div class="opcionResultado">IPAQ</div></a></li>
				<li><a href="?user={{ n.id }}&p=3"><div class="opcionResultado">Frecuencia de consumo</div></a></li></ul>
				<li><a href="?user={{ n.id }}&p=4"><div class="opcionResultado">Recordatorio de 24 horas</div></a></li></ul>
			{% endfor %}
		{% elif tipo|get_int == 1 %}
			{% for n in nombre %}
			<div class="perfilDe divbold">Perfil antropometrico de {{n.get_full_name|cap}}</div>
				{% for p in perfil %}
					<div class="contenedorPerfil">
						<div class="perfilN">Perfil del {{ p.fecha_creacion|date:"d/m/Y" }}:</div>
						<div class="fila">
							<div class="valor divbold" >Calculo</div>
							<div class="calculoValor divbold">Valor </div>
							<div class ="rango divbold">Apreciación </div>
						</div>
						<div class="fila">
							<div class="valor" >Metabolismo Basal</div>
							<div class="calculoValor">{{ p.metabolismoBasal }}</div>
							<div class ="rango">Normal </div>
						</div>
						<div class="fila">
							<div class="valor" >Indice de Adiposidad</div>
							<div class="calculoValor">{{ p.indiceAdiposidad }}</div>
							<div class ="rango">Normal </div>
						</div>
						<div class="fila">
							<div class="valor" >Obesidad</div>
							<div class="calculoValor">{{ p.obesidad }}</div>
							<div class ="rango">Normal </div>
						</div>
						<div class="masinfo">
							+
						</div>
					</div>
				{% endfor %}
			{% endfor %}
		{% elif tipo|get_int == 2 %}
			{% for n in nombre %}
			<div>ipaq</div>
			<a href="?user={{ n.id }}&d=1"> Descargar como documento Excel </a>
			{% endfor %}
		{% elif tipo|get_int == 3 %}
			{% for n in nombre %}
			<div>frecuencia de consumo</div>
			<div class="perfilDe divbold">Frecuencia de consumo de {{n.get_full_name|cap}}
			<div id="contenedorBarra">Barra de progreso: <progress id="bar" value="{{perfil|get_progreso}}" max="8"><span>{{perfil|get_progreso}}/8 secciones</span></progress></div>
			</div>
			

			{% for p in perfil %}
				{{forloop.counter}}
			{% endfor %}
			{% endfor %}
		{% else %}
		24horas
		{% endif %}
			<a href="{% url nutricionista_perfilUsuarios %}" id="anterior">«</a>
	{% endif %}
{% else %}
error.
{% endif %}
{% endblock %}