{% extends 'homepage/index.html' %}
{% block title %}Perfil del usuario{% endblock %}
{% load custom_filters %}
{% load humanize %}
{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/nutricionista/perfilUsuarios.css">{% endblock %}
{% block js %}
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/adquiridos/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/adquiridos/popup.js"></script>
<script src="{{ MEDIA_URL }}js/propios/tamanoLetra.js"></script>
<script src="{{ MEDIA_URL }}js/propios/fichaAntropometrico.js"></script>
<script>

</script>
{% endblock %}


{% block content %}
{% if usuario %}
	{% if nombre.count > 1 %}		
	<div class="tituloResultado">Lista de Pacientes</div><div id="busqueda">
	<a href="{% url nutricionista_busqueda %}" class="a-btn">
 		<span class="a-btn-text">Búsqueda avanzada</span>
 		<span class="a-btn-slide-text">IR</span>
 		<span class="a-btn-icon-right"><span></span>
 		</span>
	</a>
	</div>
	<div class="fondoLista">
		<div class="linea"style="font-weight:bold;text-transform:uppercase !important;border:0;margin-bottom:15px;margin-top:12px;">
			<div class="nombrePaciente"style="text-transform:uppercase !important;">Nombre</div>
			<div class="edadPaciente">Edad</div>
			<div class="generoPaciente">Género</div>
		</div>
		{% for n in nombre %}
		<div class="linea" >
			<div class="nombrePaciente">
				<a href="?user={{ n.id }}">{{ n.get_full_name }}</a>
			</div>
			<div class="edadPaciente"> {{ usuario|au_getFechaNaciemiento:n.id|calculate_age }} </div>
			<div class="generoPaciente">
				{% if usuario|au_getGenero:n.id == "m" %}
				Masculino
				{% elif usuario|au_getGenero:n.id == "f" %}
				Femenino
				{% else %}
				Otro
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div> 
	{% else %}
		{% if tipo|get_int == 0 %}	
			{% for n in nombre %}
			<h2>Perfil de {{n.get_full_name|cap}}</h2>
			<div class="fondoGeneral"> 
				<div class="divisorSeccion">DATOS GENERALES<div class="lineaDivisorSeccion"></div></div>
				<div class="generalIzquierda">
					<div class="lineaGeneral"><div class="labelGeneral">Nombre completo:</div><div class="contenidoGeneral">{{ n.get_full_name|cap }}</div></div>
					<div class="lineaGeneral"><div class="labelGeneral">Género:</div><div class="contenidoGeneral">Género: 
								{% if usuario|au_getGenero:n.id == "m" %}
									Masculino
								{% elif usuario|au_getGenero:n.id == "f" %}
									Femenino
								{% else %}
									Otro
								{% endif %}</div></div>
					<div class="lineaGeneral"><div class="labelGeneral">Cédula:</div><div class="contenidoGeneral">{{ usuario|au_getCedula:n.id|floatformat:0|intcomma }}</div></div>
				</div>
				<div class="generalDerecha">
					<div class="lineaGeneral">
						<div class="labelGeneral">Fecha de nacimiento:</div>
						<div class="contenidoGeneral">
							{{ usuario|au_getFechaNaciemiento:n.id}}
						</div>
					</div>
					<div class="lineaGeneral">
						<div class="labelGeneral">Edad:</div>
						<div class="contenidoGeneral">
							{{ usuario|au_getFechaNaciemiento:n.id|calculate_age }}
						</div>
					</div>
					<div class="lineaGeneral"><div class="labelGeneral">País:</div><div class="contenidoGeneral">{{ usuario|au_getPais:n.id }}</div></div>
					<div class="lineaGeneral"><div class="labelGeneral">Estado:</div><div class="contenidoGeneral">{{ usuario|au_getMunicipio:n.id }}</div></div>
				</div>
			</div>
			<div class="fondoGeneral"> 
				<div class="divisorSeccion"> RESULTADOS DEL PACIENTE<div class="lineaDivisorSeccion"></div></div>
				<div class="opcionResultado"></div>
			   	<ul class="resultados"> 
					<li><a href="?user={{ n.id }}&p=1"><div class="botonLlenar">Antropométricos</div></a></li>
					<li><a href="?user={{ n.id }}&p=2"><div class="botonLlenar">IPAQ</div></a></li>
					<li><a href="?user={{ n.id }}&p=3"><div class="botonLlenar">Frecuencia de consumo</div></a></li>
					<li><a href="?user={{ n.id }}&p=4"><div class="botonLlenar">Recordatorio de 24 horas</div></a></li>
					<li><a href="?user={{ n.id }}&p=5"><div class="botonLlenar">Indicadores dietéticos</div></a></li>
				</ul>
			</div>
			{% endfor %}
			<a href="{% url nutricionista_perfilUsuarios %}" id="anterior">«</a>
		{% elif tipo|get_int == 1 %}
			{% for n in nombre %}
			<div class="perfilDe divbold"style="margin-bottom:15px;">Perfil antropometrico de {{n.get_full_name|cap}}</div>
			{% if perfil.0 %}
				{% for p in perfil %}
					<div class="contenedorPerfil">
						<div class="perfilN">Perfil del {{ p.fecha_creacion|date:"d/m/Y" }}:</div>
						<div class="fila">
							<div class="valor divbold" >Cálculo</div>
							<div class="calculoValor divbold">Valor </div>
							<div class ="rango divbold">Apreciación </div>
						</div>
						<div class="fila">
							<div class="valor" >Metabolismo Basal</div>
							<div class="calculoValor">{{ p.metabolismobasal }}</div>
							<div class ="rango"> - </div>
						</div>
						<div class="fila">
							<div class="valor" >Indice de Adiposidad</div>
							<div class="calculoValor">{{ p.indiceAdiposidad }}</div>
							<div class ="rango">{{p.apreciacion_adiposidad}} </div>
						</div>
						<div class="fila">
							<div class="valor" >Obesidad</div>
							<div class="calculoValor">{{ p.obesidad }}</div>
							<div class ="rango">
							{% if p.apreciacion_obesidad == 'Sobrepeso (Obesidad grado I)' %}
								Sobrepeso </div>
							{% else %}
								{{p.apreciacion_obesidad}} </div>
							{% endif %}
						</div>
						<div class="fila">
							<div class="valor" >Cintura</div>
							<div class="calculoValor">{{p.circunferencia_cintura|floatformat:0|intcomma}} cm</div>
							<div class ="rango">{{p.apreciacion_cintura}} </div>
						</div>
								<a id="plusinfo" href="#" onclick="cargarContenido('{{n.get_full_name|cap}}','{{p.fecha_creacion|date:"d/m/Y"}}','{{p.peso|floatformat:0|intcomma}}','{{p.circunferencia_cintura|floatformat:0|intcomma}}','{{p.circunferencia_cadera|floatformat:0|intcomma}}','{{p.estatura|floatformat:0|intcomma}}','{{p.hipertencion}}','{{p.diabetes}}','{{p.cancer}}','{{p.trigliceridos}}')">
							<div id="masinfo">
								+
							</div>
						</a>
						<!--  POPUP para mayor información  -->
						<div id="pop">
							<div id="cerrar">
								<a style="TEXT-DECORATION: none" href="javascript:setVisible('pop')">X</a></div>
							<div id="info">
								<p>Contenido: aquí</p>
							</div>
						</div>
						<!-- fin POPUP -->						
					</div>
				{% endfor %}
			{% else %}
			<div id="aviso">
					<span aria-hidden="true">!</span>
					<p>Este usuario todavía no posee datos antropometricos.</p>
			</div>
			{% endif %}
			{% endfor %}
			<a href="?user={{ getUser }}" id="anterior">«</a>
		{% elif tipo|get_int == 2 %}
				<h2>Información ingresada en el formulario IPAQ.</h2>
				{% if perfil.0 %}
					{% for n in nombre %}
						<a class="titulo boton botonfix" href="?user={{ n.id }}&d=1"> Descargar resultados como documento Excel </a>
						{% for p in perfil %}
						<div class="wrapperTabla">
							<div class="titulo">Trabajo</div>
							<table class="customers">
								<th>Min Andar</th>
								<th>Min actividad Moderada</th>	
								<th>Min actividad Vigorosa</th>
								<th>MET Andar</th>
								<th>MET Moderado</th>
								<th>MET Vigoroso</th>
								<th>MET Total</th>
							<tr>
								<td>{{p.minAndarTrabajo}}</td>
								<td>{{p.minModeradoTrabajo}}</td>
								<td>{{p.minVigorosoTrabajo}}</td>
								<td>{{p.metAndarTrabajo}}</td>
								<td>{{p.metModeradoTrabajo}}</td>
								<td>{{p.metVigorosoTrabajo}}</td>
								<td>{{p.metTrabajo}}</td>
							</tr>
							</table>
							<div class="titulo">Transporte</div>						
							<table class="customers">
								<th>Min Andar</th>
								<th>Min actividad Moderada</th>	
								<th>Min en Vehículo</th>
								<th>MET Andar</th>
								<th>MET Moderado</th>
								<th>MET Total</th>
							<tr>
								<td>{{p.minAndarTransporte}}</td>
								<td>{{p.minModeradoTransporte}}</td>
								<td>{{p.minVehiculo}}</td>
								<td>{{p.metAndarTransporte}}</td>
								<td>{{p.metModeradoTransporte}}</td>
								<td>{{p.metTransporte}}</td>
							</tr>
							</table>	
							<div class="titulo">Hogar</div>
							<table class="customers">
								<th>Min actividad Vigorosa</th>
								<th>Min A. Moderada en Casa</th>	
								<th>Min A. Moderada en Jardín</th>
								<th>MET Vigoroso</th>
								<th>MET Moderado en Casa</th>
								<th>MET Moderado en Jardín</th>
								<th>MET Total</th>
							<tr>
								<td>{{p.minVigorosoHogar}}</td>
								<td>{{p.minModeradoHogar}}</td>
								<td>{{p.minModeradoJHogar}}</td>
								<td>{{p.metVigorosoHogar}}</td>
								<td>{{p.metModeradoHogar}}</td>
								<td>{{p.metModeradoJHogar}}</td>
								<td>{{p.metHogar}}</td>
							</tr>
							</table>
							<div class="titulo">Recreación</div>
							<table class="customers">
								<th>Min Andar</th>
								<th>Min actividad Moderada</th>	
								<th>Min actividad Vigorosa</th>
								<th>MET Andar</th>
								<th>MET Moderado</th>
								<th>MET Vigoroso</th>
								<th>MET Total</th>
							<tr>
								<td>{{p.minAndarRecre}}</td>
								<td>{{p.minModeradoRecre}}</td>
								<td>{{p.minVigorosoRecre}}</td>
								<td>{{p.metAndarRecreacion}}</td>
								<td>{{p.metModeradoRecreacion}}</td>
								<td>{{p.metVigorosoRecreacion}}</td>
								<td>{{p.metRecreacion}}</td>
							</tr>
							</table>	
				
							<div class="titulo">Tiempo Sentado</div>
							<table class="customers">
								<th>Min Sentado</th>
								<th>Media min sentado por dia</th>	
							<tr>
								<td>{{p.tiempoSentado}}</td>
								<td>{{p.MediaSentado}}</td>
							</tr>
							</table>
							<div class="titulo">Resultados</div>						
							<table class="customers">
								<th>Min Andar Toral</th>
								<th>Min actividad Moderada Total</th>	
								<th>Min actividad Vigorosa Total</th>
								<th>MET Total en todas las areas</th>
								<th>Resultado Actividad Física</th>
								
							<tr class="alt" >
								<td>{{p.tiempoAndar}}</td>
								<td>{{p.tiempoModerado}}</td>
								<td>{{p.tiempoVigoroso}}</td>
								<td>{{p.metTotal}}</td>
								<td>{{p.apreciacionIpaq}}</td>
							</tr>
							</table>													
						</div>		
						{% endfor %}
					
					{% endfor %}
				{% else %}
					<div id="aviso">
						<span aria-hidden="true">!</span>
						<p>Este usuario todavía no ha completado el formulario IPAQ.</p>
					</div>
				{% endif %}
				<a href="?user={{ getUser }}" id="anterior">«</a>
		{% elif tipo|get_int == 3 %}
			{% for n in nombre %}
				<div class="perfilDe divbold">Frecuencia de consumo de {{n.get_full_name|cap}}
					<div id="contenedorBarra">Barra de progreso: <progress id="bar" value="{{perfil.0.progreso}}" max="9"><span>{{perfil.0.progreso}}/8 secciones</span></progress></div>
				</div>
				<div class="tamanoLetra">
					<div class="increaseFont botonFont">A</div>
					<div class="decreaseFont botonFont">D</div>
					<div class="resetFont botonFont">R</div>
				</div>
				<div class="tablaFrecuencia ajustarFont">
				{% if perfil.0.progreso %}
					{% for p in perfil %}
						<div class="lineaFrecuencia">
							<div class="nombreAlimento">{{ p.descripcion }}</div>
							<div class="frecuenciaAlimento">
								{{ p.frecuencia|parse_frecuencia }}</div>
							<div class="porcionAlimento">{{ p.porcion|parse_porcion }}</div>
							<div class="mediaAlimento">{{ p.media }}</div>
						</div>
					{% endfor %}
				{% else %}
				<div id="aviso">
					<span aria-hidden="true">!</span>
					<p>Este usuario todavía no posee una frecuencia de consumo.</p>
				</div>
				{% endif %}
				</div>
			{% endfor %}
			<a href="?user={{ getUser }}" id="anterior">«</a>
		{% elif tipo|get_int == 4 %}
			<h2>Información de los resultados del recordatorio 24 horas.</h2>
			{% if perfil %}				
				{% for p in perfil %}
					<div class="wrapperTabla">
						<div class="titulo">Proteinas</div>
						<table class="customers">
							<th>Gramos</th>
							<th>Calorias</th>	
							<th>Porcentaje</th>
						<tr>
							<td>{{p.proteinas_necesarias_gramos}}</td>
							<td>{{p.proteinas_necesarias_calorias}}</td>
							<td>{{p.proteinas_necesarias_porcentaje}}</td>
						</tr>
						</table>

						<div class="titulo">Hidratos de carbono</div>
						<table class="customers">
							<th>Gramos</th>
							<th>Calorias</th>	
							<th>Porcentaje</th>
						<tr>
							<td>{{p.hidratos_necesarios_gramos}}</td>
							<td>{{p.hidratos_necesarios_calorias}}</td>
							<td>{{p.hidratos_necesarios_porcentaje}}</td>
						</tr>
						</table>

						<div class="titulo">Grasas</div>
						<table class="customers">
							<th>Gramos</th>
							<th>Calorias</th>	
							<th>Porcentaje</th>
						<tr>
							<td>{{p.grasas_necesarias_gramos}}</td>
							<td>{{p.grasas_necesarias_calorias}}</td>
							<td>{{p.grasas_necesarias_porcentaje}}</td>
						</tr>
						</table>

					</div>
				{% endfor %}
			{% else %}
			<div id="aviso">
					<span aria-hidden="true">!</span>
					<p>Este usuario todavía no posee resultados del recordatorio 24 horas.
					</p>
			</div>
			{% endif %}
			<a href="?user={{ getUser }}" id="anterior">«</a>
		{% elif tipo|get_int == 5 %}
		<h2>Indicadores dietéticos ingresados</h2>
			{% if perfil %}
			{% for p in perfil %}
			<div id="indicadores">
				<p>Comidas al día: {{p.comidasAlDia}}</p>
				<p>Quien prepara la comida: {{p.quienPreparaAlimentos}}</p>
				<p>Come entre comidas: {{p.comeEntreComidas}}</p>
				<p>Qué come entre comidas: {{p.queComeEntreComidas}}</p>
				<p>Modifico su alimentación en el último año: {{p.modificadoAlimentacionReciente}}</p>
				<p>Por qué modifico su alimentación: {{p.porqueModifico}}</p>
				<p>En que sentido lo modifico: {{p.comoModifico}}</p>
				<p>Apetito: {{p.comoSuApetito}}</p>
				<p>A que hora tiene más hambre: {{p.horaMasHambre}}</p>
				<p>Alimentos preferidos: {{p.alimentoPreferido}}</p>
				<p>Alimentos que le desagradan: {{p.alimentoDesagrado}}</p>
				<p>Es alergico a algún alimento: {{p.esAlergicoIntolerante}}</p>
				<p>Cual alimento es alergico: {{p.cualAlimento}}</p>
				<p>Agrega sal a las comidas: {{p.salComidas}}</p>
				<p>Utiliza suplementos: {{p.suplementoAlimenticio}}</p>
				<p>Cuantas veces al día: {{p.cuantasVecesSuplemento}}</p>
				<p>Porque los utiliza: {{p.porqueSuplemento}}</p>
				<p>Su consumo varia cuando esta ansioso, triste o nervioso: {{p.consumoVariaEmocion}}</p>
				<p>Cómo varia: {{p.comoVariaConsumo}}</p>
				<p>Ha realizado dietas: {{p.tieneDieta}}</p>
				<p>Cuantas dietas: {{p.cuantasVecesDieta}}</p>	 
				<p>Tipo de dieta: {{p.tipoDieta}}</p>
				<p>Hace cuanto tiempo: {{p.tiempoDieta}}</p>
			</div>
			{% endfor %}
			{% else %}
			<div id="aviso">
					<span aria-hidden="true">!</span>
					<p>Este usuario todavía no posee indicadores dieteticos.</p>
			</div>
			{% endif %}
			<a href="?user={{ getUser }}" id="anterior">«</a>
		{% else %}
		No existe esa opción
		{% endif %}
	{% endif %}
{% else %}
error.
{% endif %}

{% endblock %}