{% extends "homepage/index.html" %}
{% load article_tags %}
{% block title %}
Publicaciones de articulos
{% endblock%}

{% block clear %}{% endblock%}

{% block content %}		


		<section id="listadepublicaciones">
		<h2>Lista de articulos</h2>
		{% if lista %}
		{% get_articles 10 as arti %}
		{% for a in arti %}
		<h3><a href="{{ a.get_absolute_url }}">{{a.title|escape}}</a></h3>
				<article>
					Autor: {{a.author|escape}}
					Fecha: {{a.publish_date|escape}}
					Categoría: {{a.category|escape}}
					Etiquetas: {{a.tags|escape}}
				</article>	
		{% endfor %}
		{% else %}
		<article>No hay ningún articulo publicado.</article>
		{% endif %}
		</section>
{% endblock%}

{% block footer %}
Centro de Investigaciones Endocrino-Metabolicas. © Copyright 2012. Todos los Derechos Reservados.  
{% endblock%}