{% extends "homepage/index.html" %}
{% block title %}
Publicaciones de articulos
{% endblock%}

{% block clear %}{% endblock%}

{% block content %}		
		<section id="listadepublicaciones">
		<h2>Lista de articulos</h2>
			{% for a in article.objects %}
			<h3>{{a.title|escape}}</h3>
					<arti>
						{{a.body|escape}}
					</arti>
					<section id="info">
						Autor: {{a.author|escape}}
						Fecha: {{a.publish_date|escape}}
						Categoría: {{a.category}}
						Etiquetas: {{a.tags|escape}}
					</section>	
			{% endfor %}
		</section>
{% endblock%}

{% block footer %}
Centro de Investigaciones Endocrino-Metabolicas. © Copyright 2012. Todos los Derechos Reservados.  
{% endblock%}