{% extends "homepage/index.html" %}
{% block title %}
Publicaciones de articulos
{% endblock%}

{% block clear %}{% endblock%}

{% block content %}	
	<section id="informacionarticulo">
				
					<h2>{{article.title|escape}}</h2>
					<article>
						{{article.body|escape}}
					</article>
					<section id="info">
						Autor: {{article.author|escape}}
						Fecha: {{article.publish_date|escape}}
						Categoría: {{article.category}}
						Etiquetas: {{article.tags|escape}}
					</section>	
	</section>
{% endblock%}

{% block footer %}
Centro de Investigaciones Endocrino-Metabolicas. © Copyright 2012. Todos los Derechos Reservados.  
{% endblock%}