{% extends "homepage/index.html" %}

{% block title %}
Publicaciones de articulos
{% endblock%}

{% block clear %}{% endblock%}

{% block content %}
	<div id="botones">
		<a href="{% url homepage_calculadora %}">
			<div class="boton">CALCULADORA DE CALORIAS</div>
		</a>
		<a href="/historia/">
			<div class="boton2">HISTORIA NUTRICIONAL</div>
		</a>
		<section id="publicaciones">
			
		</section>
	</div>
{% endblock%}

{% block footer %}
Centro de Investigaciones Endocrino-Metabolicas. © Copyright 2012. Todos los Derechos Reservados.  
{% endblock%}