{% extends "homepage/index.html" %}
{% load custom_filters %}
{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/articles/articles.css">
{% endblock %}
{% block title %}
Publicaciones de articulos
{% endblock%}
{% block clear %}{% endblock%}
{% block content %}
		<section id="publicaciones">
			{% if user|in_group:"profesional" %}
	       		<h2>Publicar un nuevo articulo</h2>
				<form id="formulario" action="." method="POST">
					{% csrf_token %}
					{{ form.as_p }}
				<div id="boton">
					<input type="submit" value="Enviar" id="botonPublicar" name="boton"/>
				</div>
					{{ form.errors }}
					{{ form.non_field_errors }}
				</form>
       		{% else %}
       			<div id="aviso">
       				<p>Usted no puede realizar publicaciones porque no es un profesional autenticado.</p>
       			</div>
      	  	{% endif %}
		</section>
{% endblock%}

{% block footer %}
Centro de Investigaciones Endocrino-Metabolicas. © Copyright 2012. Todos los Derechos Reservados.  
{% endblock%}