{% extends "homepage/index.html" %}
{% block css %}<link rel="stylesheet"href="{{ MEDIA_URL }}css/articles/articles.css">
{% endblock %}
{% block title %}
Publicaciones de articulos
{% endblock%}

{% block clear %}{% endblock%}

{% block content %}
		<section id="publicaciones">
			<h2>Publicar un nuevo articulo</h2>
			<form action="." method="POST">
				{% csrf_token %}
				{{ form.as_p }}
			<div id="boton">
				<input type="submit" value="Enviar" id="botonPublicar" name="boton"/>
			</div>
			</form>
		</section>
{% endblock%}

{% block footer %}
Centro de Investigaciones Endocrino-Metabolicas. © Copyright 2012. Todos los Derechos Reservados.  
{% endblock%}