body{font-family:Verdana;text-align:center}
#djangoForumBody{width:90%;text-align:left;margin:0 auto}
#djangoForumList,#djangoForumThreadList,#djangoForumThreadPosts{border-collapse:collapse;width:100%}
#djangoForumList td,#djangoForumThreadList td,#djangoForumThreadPosts td{border:solid #777 1px;padding:6px}
#djangoForumList .djangoForumListDetails{width:70%}
#djangoForumList .djangoForumListDetails strong{font-size:120%}
#djangoForumList .djangoForumListDetails .djangoForumStats{font-size:80%}
.djangoForumListLastPost,.djangoForumThreadLastPost{background-color:#ccc;border-bottom:solid #777 1px}
#djangoForumList th,#djangoForumThreadList th,#djangoForumThreadPosts th{background-color:#3a3;border:solid #777 1px;color:#fff;text-align:left;padding:4px}
#djangoForumBreadcrumbs{padding:20px}
#djangoForumBody label{font-size:110%;font-weight:700;display:block;padding:4px}
.djangoForumPagination{display:inline}
#djangoForumThreadPosts th,#djangoForumThreadPostDetail{width:20%}