@font-face{ 
font-family: 'IcoMoon';
src: url('fonts/base/icomoon-webfont.eot');
src: url('fonts/base/icomoon-webfont.eot?#iefix') format('embedded-opentype'),
     url('fonts/base/icomoon-webfont.woff') format('woff'),
     url('fonts/base/icomoon-webfont.ttf') format('truetype'),
     url('fonts/base/icomoon-webfont.svg#IcoMoonBase') format('svg');
}

@font-face{ 
font-family: 'IcoMoonSocial';
src: url('fonts/social/icomoonsocial-webfont.eot');
src: url('fonts/social/icomoonsocial-webfont.eot?#iefix') format('embedded-opentype'),
     url('fonts/social/icomoonsocial-webfont.woff') format('woff'),
     url('fonts/social/icomoonsocial-webfont.ttf') format('truetype'),
     url('fonts/social/icomoonsocial-webfont.svg#IcoMoonSocial') format('svg');
}

a img {border: none; }

body{
	font-family:  'open sans', Arial, Helvetica, Sans-serif;
	font-size: 16px;
}

h3{
	margin-left: 10px;
}

article{
	text-align: justify;
	text-justify:inter-word;
	line-height: 1.5em;
	background: #E0FFB8;
	border: 1px solid #94DA3A;
	border-width: 1px 0;
	margin: 1em 0;
	padding: .3em .4em;
	width: 90%;
	overflow: auto;
	margin-left: 10px;
}
#info{
	margin-left: 10px;
}
.errorlist{
	color: red;
	list-style: none;
}
#alinearCuerpo{
	width: 960px;
	margin: auto;
	padding: 0;
}
#contenido{
	width: 960px;
	margin: auto; 
	clear: both;
	color:#4B4B4B;
}
#pie{
	line-height:40px;
	text-align: center;
	color: #797979;
	font-size: 1.1em;
	width:960px;
	height: 40px;
	clear: both;
	margin: auto;
	background: #EFEFEF;
	border-top: 1px solid #CDCDCD;
}
#cabecera{
	width: 960px;
	float: left;
}
#imagenCabecera{
	float: left;
	width: 960px;
	height: 160px;
	background:url(/ciem/staticmedia/img/imaCabecera.jpg)
}
#barraNavegacion {
	width: 960px;
	text-align: center;
	overflow: hidden;
	float: left;
}
#barraNavegacion a{
	text-decoration: none;
	color:#4A821E;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif, helvetica, arial;
	font-size: 12px;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}
#barraNavegacion a:hover{
	color:#B4991B;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}
#barraNavegacion div{
	line-height: 24px;
	padding-top:3px;
	float: left;
	height:33px;
	width:120px;
	background:url(/ciem/staticmedia/img/fondomenu.png) -0px -0px no-repeat;	
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}
#barraNavegacion div:hover {
	background-position:-0px -32px
}
#imagenHistoria{
 	background:url(/ciem/staticmedia/img/bannerinicio.jpg) -0px -0px no-repeat;	
 	width:960px;
 	height: 300px;
 	float:left;
 	z-index: 9;
}
#imagenHistoria.boton{
	margin-left: 30px; 
}
#alinearSlide{
	float: left;
	width: 480px;
	height: 400px;
}
.centrarSlide{
	float: left;
	width: 243px;
	height: 241px;
	margin-top: 50px;
	overflow: hidden;
	margin-left: 119px;
}
#slideInicio{
	width:243px;
 	height:241px;
 }
.objetoSlide{
 	width:243px;
 	height:241px;
 	float:left;
 }
#cajaLoginIn{
	height: 30px;
	line-height: 0px;
	float: right;
	background: #E7E7E7;
	margin-right: 35px;
	margin-top: 263px;
	padding: 5px;
	border-radius: 0.3em;
}
#cajaLoginIn span{
	font-weight: bold;
}
#cajaLoginOut{
	float: right;
	outline: 1px solid rgba(214, 214, 214, 0.5);
	background-color: rgba(250, 252, 217, 0.7);
	margin-right: 35px;
	margin-top: 4px;
	padding: 5px 10px;
	border-top-right-radius: 0.3em;
	border-top-left-radius: 0.3em;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
}

div#cajaLoginOut a{
	float: left;
}
.campoLoginIndex input{
	background-color:rgba(255, 255, 255, 0.3);
	transition-duration: 0.6s;
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
}
div#cajaLoginOut input[type="submit"]{
	margin-left: 50px;
	cursor: pointer;
	float: left;
	font-size: 12px;
	padding: 3px 3px 3px 3px;
	background-color: #009B00;
	border: 1px solid black;
	border-radius: 0.2em;
	color: #EEE;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
div#cajaLoginOut input[type="submit"]:hover{
	background: #2E64FE;
	color: white;
	border: 1px solid #009B00;
}
	
.cajaLoginOut p{
	margin: 5px;
}
#eslogan{
	z-index: 3;
	float: right;
	margin-right: 15px;
	width: 450px;
	text-align: center;
	color: #2E2E2E;
	font: 2em/105% 'BebasNeueRegular',Arial,Helvetica,sans-serif;
	font-weight: normal;
	text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.2);
}
#botones a{
	text-decoration: none;
	color: white;
}
.colorCabecera{
	background-color:#FAFCD9;
	height: 33px;
}
.contenido{
	margin-top: -8px;
	font-size: 16px;
	background:#efefef;
	color:#797979;
	margin: 0 auto;
	width: 960px;
	height: 300px;
}
#barraContenido{
	background-color: #E7E7E7;
	height: 10px;
	float: left;
	width: 960px;
	margin-top: -2px;

}
#cuadroPublicaciones{
	background: rgba(226, 239, 250, 0.44);
	width: 470px;
	height: 400px;
	border-left:10px solid #E7E7E7;
	float: left;
	overflow:scroll;
}

#cuadroPublicaciones h3,h2{
	margin-left: 10px;
	padding-top: 10px;
}
a.textoBoton{
	color:black;
}
.boton{
	z-index: 3;
	float: left;
	width: 270px;height: 30px;
	line-height: 30px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	background: #F7F7F7;
	border: 1px solid #D7D7D7;
	border-radius: 1em;
	text-indent: 20px;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	margin-bottom: 10px;
	margin-left: 35px;
	margin-top: 20px;
}

.boton:hover{
	background: #65C569;
	border: 1px solid #65C569;
	box-shadow: inset 0 -1px;
	color:black;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	overflow: auto;
}

.botonsito{
	width: 30px;height: 30px;
	line-height: 30px;border: 1px solid #20538D;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);background: #009999;-webkit-transition-duration: 0.2s;-moz-transition-duration: 0.2s;transition-duration: 0.2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
}

.botonsito:hover{
	background: #81F7F3;
	color:black;
}


.boton2{
	float: left;
	background: #8A0808;
	width: 270px;height: 30px;
	line-height: 30px;border: 1px solid #20538D;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);-webkit-transition-duration: 0.2s;-moz-transition-duration: 0.2s;transition-duration: 0.2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
}
.boton2:hover{
	background: #FF0000;
	color:black;
}

/* Css de calculadora */
	
.alimentoItem{
	text-align: left;
}

#calculadoraDiv{
	float: left;
	background-color: #E29D9D;
	width: 130px;
	margin-left: 400px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
#calculadoraDiv:hover{
	background-color: #42C929;
}

.calculadoraA{
	text-decoration: none;
}
#selCombo{
	width: 150px;
	float: left;
}
#calorias{
	float:left;
	margin-left: 20px;
}
#fondo1{
	width: 600px;
	height: 500px;
}
#addAlimento{
	font-size: 1.2em !important;
margin-left: 50px;
cursor: pointer;
float: left;
font-size: 12px;
padding: 3px 3px 3px 3px;
background-color: #009B00;
border: 1px solid black;
border-radius: 0.2em;
color: #EEE;
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
transition-duration: 0.2s;
}
#addAlimento:hover{
	background: #2E64FE;
	color: white;
	border: 1px solid #009B00;
}

#tablaCalc{
	float: left;
	width: 340px;
	background-color: white;
	margin-top: 40px;
	clear: both;
	outline: thin solid black;
}

.caloriasT{
	float: right;
	width: 120px;
	height: 20px;
	border-left: thin solid black;
}
.alimentosT{
	height: 20px;
	width: 340px;
	border-bottom: thin solid black;
	text-indent: 5px;
}
#caloriaT{
	float: right;
	width: 120px;
	height: 20px;
	outline: thin solid black;
}
#alimentoT{
	height: 20px;
	width: 340px;
	outline: thin solid black;
	background: green;
	color:white;
	text-indent: 5px;
}
#sumarAlimento{
	margin-top: -35px;
	font-size: 1.5em !important;
	margin-left: 80px;
	cursor: pointer;
	float: left;
	font-size: 12px;
	padding: 5px 5px 5px 5px;
	background-color: #009B00;
	border: 1px solid black;
	border-radius: 0.2em;
	color: #EEE;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
#sumarAlimento:hover{
	background: #2E64FE;
	color: white;
	border: 1px solid #009B00;
}

#resultado {
	margin-top: -35px;
	font-size: 1.2em;
	margin-left: 350px;
	float: left;
}
#calorias{
	width: 120px;
}
#leermas{
	float: right;
	margin-right: 25px;
}
.helptext{
	display: none;
}