{% extends "homepage/index.html" %}

{% block tittle %}
Ingrese El peso de acuerdo a la medida especificada, para los siguientes alimentos:
{% endblock %}

{% block content %}
	{% for item in alimento  %}
	<div class="alimento"> item.nombre</div>
	<div class="peso">form.peso</div>
	<div class="num"> form.numMedida</div>
	<div class="medida"> form.medida</div>
    <div class="noDisplayDiv">
        <select name="alimento" id="alimento_id">
            <option value="{{ item.id }}"></option>
        </select>		
	{% endfor %}

{% endblock %}
