form{
	text-align: center;
}

p{
	background: #F7F7F7;
	border: 1px solid #D7D7D7;
	box-shadow: 0 0 1em #EEE;
	border-radius: .3em;
	margin: 1em 1.75em;
	padding: .25em;
	overflow: auto;
	width: 50%;
	display: inline-block;
	text-align: left;
}

input, select,textarea{
	border: 1px solid #AAA;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	float: right;
}


#aviso{
	text-align: center;
}


#formulario input[type="submit"]{
	cursor: pointer;
	float: left;
	font-size: 12px;
	padding: 5px 14px 5px 14px;
	background-color: #009B00;
	border: 1px solid black;
	border-radius: 0.2em;
	color: #EEE;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	text-transform: uppercase;
	margin-left: 45%;
	margin-top: 10px;
	margin-right: 300px;
	margin-bottom: 30px;

}

#formulario input[type="submit"]:hover{
	background: #2E64FE;
	color: white;
	border: 1px solid #009B00;
}
