.noDisplayDiv{display:none}
.cabeceraFormulario{float:left;width:700px;height:30px;background-color:#009B00;color:#FFF;font-size:22px;text-indent:40px;line-height:28px}
.sufreDe{margin-top:20px;float:left;width:300px;color:#277A00;font-weight:700;text-indent:20px;font-size:22px}
#formulario{float:left;margin-top:30px;margin-left:150px;margin-bottom:30px;width:700px;-webkit-box-shadow:2px 2px 5px 0 #888;box-shadow:2px 2px 5px 0 #888}
.medidaIndicar{float:right;color:#277A00;font-weight:700;margin-left:10px}
.campoForm {
	float: left;
	width: 260px;
	margin-left: 38px;
	margin-top: 20px;
}
.labelCampo{float:right}
.campoForm2{float:left;width:220px;margin-right:100px;margin-top:10px}
.contenedorOpciones{float:left;width:350px;height:210px}
#submit{cursor:pointer;background-color:#009B00;border:1px solid #000;border-radius:.2em;color:#EEE;-webkit-transition-duration:.2s;-moz-transition-duration:.2s;transition-duration:.2s;float:left;font-weight:700;position:relative;left:250px;clear:both;margin:0;padding:4px}
#submit:hover{background:#2B6B2B;color:#FFF;border:1px solid #009B00}
table,th,td{border-collapse:collapse}
.fondo{float:left;margin-left:80px;margin-top:20px;width:720px}
.haLlenado{float:left;margin-bottom:15px}
.perfilN{float:left;margin-left:40px;margin-bottom:15px;width:175px}
.alineacionResultado{float:left;height:300px;width:960px}
.contenidoResultado{margin-left: 20px;margin-top:40px;float:left;height:230px;width: 925px;background-color:#F2FFEC;-webkit-box-shadow:2px 2px 5px 0 #888;box-shadow:2px 2px 5px 0 #888}
.identificadorValor{float:left;width: 900px;height:30px;text-align:center;margin-top:50px;margin-left: 10px;}
.identificadorFecha{float:left;height:30px;width:70px}
.resultadoFecha{float:left;height:30px;width:82px}
.divPositivo{margin-left:30%;width:26px;height:30px;float:left;background-image:url(../../img/positivo.png)}
.divNegativo{margin-left:30%;width:26px;height:30px;float:left;background-image:url(../../img/negativo.png)}
.resultadoValor{line-height:24px;font-size:14px;float:left;width: 900px;margin-left: 10px;height:26px;background-color:#fff;text-align:center;float: left;-webkit-box-shadow:inset 2px 2px 0 0 #aaa;box-shadow:inset 2px 2px 0 0 #aaa;-webkit-border-radius:4px;border-radius:4px;float: left;}
.apreciacionResultado{float:left;width: 860px;height:80px;margin-left:30px;margin-top:20px;border:thin solid #CCC;text-indent:5px}
.labelApreciacion{float:left;margin-top:20px}
.valueApreciacion{float:left;font-weight:700;margin-top:16px;margin-left: 14px;background-color:#E0FFFF;height:32px;width:150px;-webkit-box-shadow:inset 2px 2px 0 0 #aaa;box-shadow:inset 2px 2px 0 0 #aaa;-webkit-border-radius:4px;border-radius:4px;text-align:center;line-height:30px}
.tituloApreciacion{font-size:15px;float:left;height:20px;width:100px;text-align:center;background-color:#F2FFEC;position:relative;bottom: -10px;left: -689px;}
.tituloResultado{color:#FFF;font-family:tahoma;font-size:21px;line-height:38px;text-align:center;float:left;width:360px;height:40px;background-color:#2C792C;position:relative;bottom: 250px;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:2px 2px 3px 0 #888;box-shadow:2px 2px 3px 0 #888}
.recomendarIPAQ{float:left;margin-top:15px;margin-bottom:20px}
.enlaceIPAQ{
	float:left;
	margin-top:5px;	
	margin-left:20px;
	font-weight:700;
	color:#FCFCFC;
	background-color:#008D00;
	-webkit-border-radius:0.2em;
	border-radius:0.2em;
	margin-bottom:10px; 
	padding:10px 20px;
	border:1px solid black;
	animation:animarboton 2s infinite;
	-moz-animation:animarboton 2s infinite; /* Firefox */
	-webkit-animation:animarboton 2s infinite; /* Safari and Chrome */
	-o-animation:animarboton 2s infinite; /* Opera */
}
@keyframes animarboton
{
0%   {background:#087C08;}
50%  {background:#26DD26;}
100% {background:#087C08;}
}

@-moz-keyframes animarboton /* Firefox */
{
0%   {background:#087C08;}
50%  {background:#26DD26;}
100% {background:#087C08;}
}

@-webkit-keyframes animarboton /* Safari and Chrome */
{
0%   {background:#087C08;}
50%  {background:#26DD26;}
100% {background:#087C08;}
}

@-o-keyframes animarboton /* Opera */
{
0%   {background:#087C08;}
50%  {background:#26DD26;}
100% {background:#087C08;}
}


.customers
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse:collapse;
}
.customers td, .customers th 
{
border:1px solid #98bf21;
padding:3px 3px 2px 3px;
}
.customers th 
{
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}
.customers tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}


.enlaceIPAQ a{
	text-decoration:none;
	color:#FCFCFC
}
#botonLlenar{
line-height: 37px;
text-indent: 5px;
color: #4B4B4B;
text-decoration: none;
float: left;
background-color: #CAEBCF;
width: 290px;
height: 40px;
-webkit-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 1px 3px 2px 0 #B4B4B4;
box-shadow: 1px 3px 2px 0 #B4B4B4;
margin: 15px 0 15px 35%;
}
#botonLlenar:hover{background-color:#97CFA0}
.identificadorPeso,.resultadoPeso,.identificadorCancer,.resultadoCancer,.identificadorDiabetes,.resultadoDiabetes{float:left;width:60px;height:30px}
.identificadorEstatura,.resultadoEstatura,.resultadoColesterol{float:left;width:70px;height:30px}
.identificadorColesterol{
	float: left;
	width: 70px;
	margin-left: 10px;

}
.identificador{
	float: left;
	width: 100px;
}
.resultado{
    float:left;
    width: 100px;
}
.identificador1{
	float: left;
	width: 80px;
}
.resultado1{
	float: left;
	width: 80px;
}
.identificadorCirCad,.resultadoCirCad,.identificadorCirCin,.resultadoCirCin,.identificadorTrigliceridos,.resultadoTrigliceridos,.identificadorHipertencion,.resultadoHipertencion{float:left;width:80px;height:30px}
.apreciacionObesidad,.apreciacionCintura,.apreciacionAdiposidad{float:left;margin-top:10px;height:60px;margin-left: 25px;width:250px}