h3{
	background: #009B00;
	padding: 10px 0px;
	color:white;
	text-indent: 10px;
}

#seccion1 input[type="submit"] {
cursor: pointer;
float: left;
font-size: 12px;
background-color: #009B00;
border: 1px solid black;
border-radius: .2em;
color: #EEE;
-webkit-transition-duration: .2s;
-moz-transition-duration: .2s;
transition-duration: .2s;
text-transform: uppercase;
margin-left: 40%;
margin-top: 20px;
margin-bottom: 20px;
padding: 5px 14px;
}
#seccion1{margin-left:5%}
#aviso{background:#F7F7F7;border:1px solid #D7D7D7}
.frecuencia{float:left;width:136px}
.porcion{word-spacing:7px;float:left;width:65px}
.media{float:left;width:100px;text-align:center}
.texto{float:left;width:500px}
.porcion ul{list-style:none;width:100px;margin:0;padding:0}
.porcion li{float:left;width:20px}
.pregunta{width:810px;height:40px;border-bottom:1px solid #000;margin-top:10px}
.noDisplayDiv{display:none}
.textoPregunta{float:left;width:490px;height:40px}
#contenido{padding-top:20px}
#inicioFrecuencia {
	background: #CDF5CD;
	border-radius: 5px;
	width: 50%;
	margin: 10px 0 10px 16%;
	padding: 15px 96px 15px 96px;
}
form#botonInicioFrecuencia input[type=submit]{
	cursor:pointer;float:left;font-size:16px;
	background-color:#009B00;border:1px solid #000;
	border-radius:.2em;color:#EEE;-webkit-transition-duration:.2s;
	-moz-transition-duration:.2s;transition-duration:.2s;text-transform:uppercase;
	margin-left:48%;
	padding: 13px 24px;
	margin-top: 20px;
	margin-bottom: 41px;
}
#seccion1 input[type=submit]:hover,form#botonInicioFrecuencia input[type=submit]:hover{background:#04B486;color:#FFF}
#infoPorcion{
	float: left;
	margin-left: 23%;
}
#imgPorcion{
	float: left;
}
#imgPorcion label {
	float: left;
	margin-left: 155px;
}
#imgPorcion img{
	margin-left: 35px;
}
