form{
	text-align:center;
}
.campoForm{
	background:#F7F7F7;
	border:1px solid #D7D7D7;
	box-shadow:0 0 1em #EEE;
	border-radius:.3em;
	width: 900px;
	display:inline-block;
	margin:10px 25px;
	padding:5px;
}
.pregunta{
	float: left;
	width: 450px;
}
.pregunta ul{
	float: left;
	list-style:none;
	padding: 0;
	margin: 0;
}
.pregunta li{
	float: left;
	margin-left: 20px;
}
.preguntaTipoSeleccion ul{
	float: right !important;
}
.pregunta label, .pregunta input{
	margin-left: 0;
	padding: 0;
}

#usernameForm input,select{
	border:1px solid #AAA;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,0.5);
	box-shadow:0 1px 0 rgba(255,255,255,0.5);
}



#botonFinalizar input{
	cursor:pointer;
	background-color:#009B00;
	border:1px solid #000;
	border-radius:.2em;
	color:#EEE;
	-webkit-transition-duration:.2s;
	-moz-transition-duration:.2s;
	transition-duration:.2s;
	float:left;
	font-weight:700;
	clear:both;
	margin:0 0 50px 42%;
	padding:15px 40px;
}
#botonFinalizar input:hover{
	background:#04B486;
	color:#FFF;
}