form{
	text-align:center;
}
.campoForm{
	background:#F7F7F7;
	border:1px solid #D7D7D7;
	box-shadow:0 0 1em #EEE;
	border-radius:.3em;
	width: 900px;
	display:inline-block;
	margin:10px 25px;
	padding:5px;
}
.pregunta{
	float: left;
	width: 450px;
}
.pregunta ul{
	float: left;
	list-style:none;
	padding: 0;
	margin: 0;
}
.pregunta li{
	float: left;
	margin-left: 20px;
}
.preguntaTipoSeleccion ul{
	float: right !important;
}
.pregunta label, .pregunta input{
	margin-left: 0;
	padding: 0;
}
#indicadores{
	margin-top: 20px;
	background: #FAF6DC;
	text-indent: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#indicadores p{	
	background: #F0F0F0;
	width: 80%;
	margin-left: 10%;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.agradecimiento{border:1px solid green;background:#CDF5CD;color:#264426;border-radius:5px;width:50%;margin:10px 0 10px 25%;padding:15px 15px 15px 40px}
.agradecimiento span{font-family:IcoMoon,arial;font-size:3em;float:left;margin-right:10px;margin-top:-15px}
.noDisplayDiv {display: none;}
