.centrar{
	width: 639px;
	margin-left: 238px;

}
.label{
	float: left;
	width: 200px;
}
.pregunta{
	width: 511px;}

#id_comentario{
	width: 460px;
	height: 102px;
}
#id_profesion{
	width: 216px;
}
#id_universidad{
	width: 216px;
}
.mensaje{
	margin-bottom: 36px;
}
#id_status{
	display: none;
}
#id_user{
	display: none;
}