<!DOCTYPE HTML>
{% extends "homepage/index.html" %}

{% block title %}
Publicaciones de articulos
{% endblock%}

{% block clear %}{% endblock%}

{% block content %}	
	<section id="informacionarticulo">
		<h2>{{article.title}}</h2>
		<article>
			{{article.body}}
		</article>
		<section id="info">
			<p>Autor: {{article.author}}</p>
			<p>Fecha: {{article.publish_date}}</p>
			<p>Categoría: {{article.category}}</p>
			<p>Etiquetas: {{article.tags}}</p>
		</section>	
	</section>
{% endblock%}

{% block footer %}
{% endblock%}