.campo{
	float:left;
	font-weight: bold;
}
#nombre{
	width: 250px;
}
.noDiplayDiv{
	display:none;
}
#alimento{
	color:green;
	width: 250px;
}
#pesoTitulo{
	color:green;
	width: 130px;
}
#id_form-0-peso{
	width: 60px;

}
#id_form-0-numMedida{
	width: 60px;
}
#medidaTitulo{
	color:green;
}
#peso{
	margin-right: 50px;
}